@using PMPDAL.Models
@model List<DepartmentRepo>


@{
    ViewBag.Title = "Whatsapp";
    ViewBag.ActivePageName = "Whatsapp";
}





<div id="requestDiv"></div>
@*<button onclick="sendRequest('init');">YOLLA</button>
    <button onclick="getMessages();">MESAJ GETİR</button>*@


<div class="modal fade" id="whatsappRedirectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button onclick="" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>

                    <div class="header header-info text-center">
                        <h4 class="card-title" style="display: block; margin-top: 9px;">Mesajı Yönlendir</h4>
                        <p class="description text-center" style="color:white;">
                            Buradan mesajı yönlendireceğiniz departmanı seçebilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-3 ml-0">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">person</i>
                                </span>

                                <div id="divProjeEkleProjectLeader" class="form-group is-empty">
                                    <input id="selectedRedirectMessageId" style="display: none;" />
                                    <select id="selectedRedirectDepartmentId" class="selectpicker" data-style="btn btn-info btn-round" title="Departman Seçiniz..." data-size="7">
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <option value="@item.Id">@item.DepartmentName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-center m-5 my-auto py-4" style="border-top: 1px solid #f1efef;">
                <button onclick="saveRedirect()" class="btn btn-info btn-round"><i class="material-icons">save_alt</i> Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div style="display: none;" id="conFluid" class="container-fluid">
    <!-- AKTİF PROJELER BURADAN BAŞLIYOR -->
    <div class="col-md-12 mb-5 pb-5">
        <div class="card"
             style="background: #191919; color: white; box-shadow: 0px 0px 9px 2px #48484896; border-radius: 10px;">
            <div class="card-content">
                <div id="divProjeListesi" class="box-body no-padding">
                    <div style="clear: both;"></div>
                    <div id="tableContainer">
                        <table class="table" id="mesajTable">
                            <thead>
                                <tr>
                                    <th>Numara</th>
                                    <th>İçerik</th>
                                    <th>Ekler</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
</div>


<script>
    $(document).ready(function () {
        sendRequest('init');
    });
</script>

<script>
    var isShowing = false;

    function saveRedirect() {
        var messageId = $("#selectedRedirectMessageId").val();
        var departmentId = $("#selectedRedirectDepartmentId").val();

        if (departmentId == "") {
            alert('Lütfen departman seçiniz!');
            return;
        }

        $.ajax({
            url: '@Url.Action("SaveRedirect", "Whatsapp")',
            type: 'POST',
            data: {
                "_messageId": messageId,
                "_departmentId": departmentId
            },
            dataType: 'json',
            success: function (data) {
                if (data) {
                    alert('İşlem başarılı!');
                    $('#whatsappRedirectModal').modal('hide');
                    showAndGetMessages();
                }
            },
            error: function (xhr) {
                console.log("hata");
                console.log(xhr);
            }
        });
    }

    function deleteMessage(_messageId) {
        var answer = confirm("Silmek istediğinize emin misiniz?");

        if (!answer) {
            return;
        }


        $.ajax({
            url: '@Url.Action("DeleteMessage", "Whatsapp")',
            type: 'POST',
            data: {
                "_messageId": _messageId
            },
            dataType: 'json',
            success: function (data) {
                if (data) {
                    showAndGetMessages();
                    alert('İşlem tamamlandı!')
                }
            },
            error: function (xhr) {
                console.log("hata");
                console.log(xhr);
            }
        });
    }

    function showAndGetMessages() {
        $("#conFluid").show();
        $.ajax({
            url: '@Url.Action("GetMessages", "Whatsapp")',
            type: 'POST',
            data: {},
            dataType: 'json',
            success: function (data) {
                $("#tableContainer").html('<table class="table" id="mesajTable"> <thead> <tr> <th>Numara</th> <th>İçerik</th> <th>Ekler</th> <th></th> <th></th> </tr> </thead> <tbody></tbody> </table>');

                var html = "";

                for (var i = 0; i < data.length; i++) {
                    html += "<tr>";
                    html += "<td>" + customReplaceAll(data[i]["Number"], " ", "&nbsp;") + "</td>";
                    html += "<td>" + data[i]["Message"] + "</td>";
                    html += "<td>";
                    var attList = data[i]["Attachments"];
                    for (var k = 0; k < attList.length; k++) {
                        html += attList[k] + "<br>";
                    }
                    html += "</td>";
                    html += "<td style=\"width: 5%; text-align: center;\"><i onclick=\"$('#selectedRedirectMessageId').val(" + data[i]["MessageId"] + "); $('#whatsappRedirectModal').modal('show');\" class=\"actionIcon fa fa-share\"></i></td>";
                    html += "<td style=\"width: 5%; text-align: center;\"><i onclick=\"deleteMessage(" + data[i]["MessageId"] + ")\" class=\"actionIcon fa fa-times\"></i></td>";
                    html += "</tr>";
                }

                $("#mesajTable tbody").html(html);

                $('#mesajTable').DataTable({
                    "language": {
                        "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                    },
                    order: [],
                    "initComplete": function (settings, json) {
                        $(".dataTables_wrapper select option").css("background-color", "#191919");
                    }
                });

                setTimeout(showAndGetMessages, 10000);
            },
            error: function (xhr) {
                console.log("hata");
                console.log(xhr);
                setTimeout(showAndGetMessages, 10000);
            }
        });
    }

    function sendRequest(_type)
    {
        $.ajax({
            url: '@Url.Action("SendRequest", "Whatsapp")',
            type: 'POST',
            data: {
                "_type": _type
            },
            dataType: 'json',
            success: function (data) {
                if (_type == "init") {
                    if (data != "true") {
                        $("#requestDiv").html("<center><img style='margin-top: 10px; padding: 20px; background-color: white;border-radius: 20px;' src=\"" + data + "\"><br><button onclick=\"getMessages()\" style=\"margin-top: 15px; background-color: #00bcd4; color: black; border: 1px solid #ccc; font-weight: bold; height: 35px; width: 100px;\"><i class=\"fa fa-check\"></i></button></center>");
                    }
                    else {
                        getMessages();
                    }
                }
            }
        });
    }

    function getMessages() {
        if (isShowing == false) {
            showAndGetMessages();
            $('#requestDiv').html('');
            isShowing = true;
        }

        $.ajax({
            url: '@Url.Action("SendRequest", "Whatsapp")',
            type: 'POST',
            data: {
                "_type": "getmessages"
            },
            dataType: 'json',
            success: function (data) {

                setTimeout(getMessages, 1500);
            },
            error: function (xhr) {
                console.log("hata");
                console.log(xhr);
                setTimeout(getMessages, 1500);
            }
        });
    }


</script>

