<!doctype html>
<html lang="en">

@using PMPDAL.Entities;
@{
    var activePerson = ViewBag.ActivePerson as Person;
}



<div class="actionIcon" id="messageHeader" onclick="openCloseMessageList()" style="display: none;">
    <span style="float: left; margin-top: 2px; font-weight: bold;">
        Mesajlar
    </span>
    <span style="float: right; margin-right: 5%; background-color: #00bcd4; padding-top: 2px; padding-bottom: 2px; padding-left: 5px; padding-righT: 5px; font-weight: bold; font-size: 13px; border-radius: 2px; background-color: #00bcd8c4;">
        <i class="fa fa-refresh fa-spin"></i>
    </span>
</div>

<div id="messagesBody">
</div>

<div id="messagesDetail">

</div>

<div id="normalMessagePersonSelectDiv" style="display: none; height: 156px; bottom: 0; margin-bottom: 295px; margin-right: calc(27% + 15px); border: 1px solid #00bcd48c; overflow: inherit;">
    <i onclick="$('#normalMessagePersonSelectDiv').fadeOut(400);" style="float: right; margin-right: 10px; margin-top: 10px; font-size: 19px; color: #949494;" class="actionIcon fa fa-times"></i>
    <div style="padding-top: 20px; padding-bottom: 10px; width: 270px; margin: 0 auto;">
        <select class="selectpicker" data-live-search="true" data-style="btn-primary">
            <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
            <option data-tokens="mustard">Burger, Shake and a Smile</option>
            <option data-tokens="frosting">Sugar, Spice and all things nice</option>
        </select>
        <div style="clear: both;"></div>
        <center>
            <button onclick="getMessagesBetweenTwoPeople($('#normalMessagePersonSelectDiv select option:selected').text(), 0, $('#normalMessagePersonSelectDiv select').val()); $('#normalMessagePersonSelectDiv').fadeOut(400);" class="btn btn-info btn-round" style="border-radius: 10px !important; float: right;"><i class="fa fa-paper-plane"></i></button>
        </center>
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
</div>

<head>

    <style>
        .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
            height: 900px !important;
        }
        /* width */
        ::-webkit-scrollbar {
            width: 3px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #43a9f6;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: white;
            border-radius: 30px;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

        #messageHeader {
            width: 22%;
            padding-top: 12px;
            padding-bottom: 12px;
            position: fixed;
            bottom: 0;
            right: 0;
            margin-right: 5%;
            background-color: #292929;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding-left: 10px;
            z-index: 1823123173217323783723721;
            border: 1px solid #00bcd48c;
            box-shadow: 1px 1px 10px #ffffff75;
            margin-bottom: 0px;
            transition-timing-function: linear;
            transition: margin 0.5s;
            transition-timing-function: linear;
        }

        #messagesBody, #normalMessagePersonSelectDiv {
            width: 22%;
            position: fixed;
            bottom: 0;
            right: 0;
            margin-right: 5%;
            background-color: #292929;
            z-index: 1823123173217323783723721;
            border-left: 1px solid #00bcd48c;
            border-right: 1px solid #00bcd48c;
            box-shadow: 1px 1px 10px #ffffff75;
            height: 450px;
            transition-timing-function: linear;
            transition: height 0.5s;
            transition-timing-function: linear;
            height: 0px;
            overflow: hidden;
            overflow-y: auto;
        }

        .messageItem {
            width: 90%;
            margin: 0 auto;
            margin-top: 15px;
            padding-left: 10px;
            padding-right: 5px;
            background-color: #099aaf38;
            padding: 10px;
            border-radius: 4px;
            text-shadow: 1px 1px 1px black;
        }
    </style>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/new/assets/img/apple-icon.png" />
    <link rel="icon" type="~/Content/new/image/png" href="~/Content/New/assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Panel | @Html.Raw(ViewBag.SelectedProjectName == null ? "GÖREV TAKİP SİSTEMİ" : ViewBag.SelectedProjectName)</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS-->
    <link href="~/Content/New/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="~/Content/New/assets/css/material-dashboard.css?v=1.2.1" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/New/assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/tema/bower_components/select2/dist/css/select2.min.css">


    <script src="~/Content/New/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>



</head>

<style>
    .btn .material-icons {
        font-size: 30px;
    }

    .actionIcon:hover {
        cursor: pointer;
    }

    .swal2-modal {
        margin-top: 16px;
    }

    body {
        color: blue;
    }

    .actionIcon {
        font-size: 11pt;
    }
</style>


<div id="customLoading" style="display: none; z-index: 999999; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000000b5;">
    <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <center>
                    <i style="font-size: 60px;" class="fa fa-refresh fa-spin"></i>
                </center>
            </td>
        </tr>
    </table>
</div>

<div class="modal fade" id="modalRedirectWhatsapp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-login" style="width: 85%;">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button onclick="" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>

                    <div class="header header-info text-center">
                        <h4 class="card-title">Size Yönlendirilmiş Whatsapp Mesajları</h4>
                        <p class="description text-center" style="color:white;">
                            Departmanınıza yönlendirilen whatsapp mesajlarını buradan görebilir, bunları departmanınızdaki çalışanlara görev olarak atayabilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-3 ml-0">
                    <form class="form" method="" action="">
                        <div id="modalRedirectWhatsappTableContainer" class="card-content py-4">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRedirectWhatsappDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-login" style="width: 30%;">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button onclick="" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>

                    <div class="header header-info text-center">
                        <h4 class="card-title">Size Yönlendirilmiş Whatsapp Mesajları</h4>
                        <p class="description text-center" style="color:white;">
                            Departmanınıza yönlendirilen whatsapp mesajlarını buradan görebilir, bunları departmanınızdaki çalışanlara görev olarak atayabilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-3 ml-0">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <select onchange="GetMilestonesAndSprintsForNotification(this.value)" id="projectIdForNotification" class="selectpicker" data-style="btn btn-info btn-round" title="Proje Seçiniz..." data-size="7">
                                        <option disabled selected>PROJE LİDERİ SEÇİNİZ</option>
                                        <option value="2">Foobar</option>
                                        <option value="3">Is great</option>
                                    </select>
                                </div>
                            </div>
                            <input id="redirectIdForNotification" style="display: none;" />
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <select id="milestoneIdForNotification" class="selectpicker" data-style="btn btn-info btn-round" title="Milestone Seçiniz..." data-size="7" disabled></select>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <select id="sprintIdForNotification" class="selectpicker" data-style="btn btn-info btn-round" title="Sprint Seçiniz..." data-size="7" disabled></select>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <select id="userIdForNotification" class="selectpicker" data-style="btn btn-info btn-round" title="Kullanıcı Seçiniz..." data-size="7" disabled></select>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <input id="titleForNotification" type="text" class="form-control" style="color:black!important;" placeholder="Görev Başlığı Giriniz..." disabled>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="input-group mt-4">
                                <span class="input-group-addon">
                                    <i class="material-icons">description</i>
                                </span>
                                <div class="form-group is-empty">
                                    <textarea id="descForNotification" class="form-control" style="color:black !important;" placeholder="Görev Açıklaması Giriniz..." rows="4" disabled></textarea>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-center m-5 my-auto py-4" style="border-top: 1px solid #f1efef;">
                <button onclick="saveNotificationAsTask()" class="btn btn-info btn-round"><i class="material-icons">save_alt</i> Kaydet<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
</div>

<script>
    function downloadMediaMessageById(_id, _last30) {
        $("#customLoading").show();
        $.ajax({
            url: '@Url.Action("DownloadMediaMessageById", "Whatsapp")',
            type: 'POST',
            data: {
                "_id": _id,
                "_last30": _last30
            },
            dataType: 'json',
            success: function (data) {
                $("#customLoading").hide()
                var win = window.open(data, "", "width=800,height=600");
                //var win = window.open(data, '_blank');
                //win.focus();
            },
            error: function (xhr) {
                console.log("hata");
                console.log(xhr);
                $("#customLoading").hide();
            }
        });
    }

    function listAllProjectsForNotification(_id, _desc) {
        $("#redirectIdForNotification").val(_id);
        $("#modalRedirectWhatsappDetail").modal('show');
        $("#milestoneIdForNotification").removeAttr("disabled").attr("disabled", "disabled");
        $("#sprintIdForNotification").removeAttr("disabled").attr("disabled", "disabled");
        $("#userIdForNotification").removeAttr("disabled").attr("disabled", "disabled");
        $("#titleForNotification").removeAttr("disabled").attr("disabled", "disabled");
        $("#descForNotification").removeAttr("disabled").attr("disabled", "disabled");
        $("#milestoneIdForNotification").val('');
        $("#sprintIdForNotification").val('');
        $("#userIdForNotification").val('');
        $("#titleForNotification").val('');
        $("#descForNotification").val("/*Whatsapp Mesajı: " + _desc + "*/");
        $(".selectpicker").selectpicker('refresh');

        $.ajax({
            url: '@Url.Action("GetAllProjeler", "Project")',
            type: 'POST',
            data: {},
            dataType: 'json',
            success: function (data) {
                var html = "";

                for (var i = 0; i < data.length; i++) {
                    html += '<option value="' + data[i]["Id"] + '">' + data[i]["Name"] + '</option>';
                }
                $("#projectIdForNotification").html(html);
                $(".selectpicker").selectpicker('refresh');
            }
        });
    }

    function getAllPersonsForMessageSend() {
        $.ajax({
            url: '@Url.Action("GetAllPersonForMessageSend", "Whatsapp")',
            type: 'POST',
            data: {},
            dataType: 'json',
            success: function (data) {

                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="' + data[i]["Id"] + '">' + data[i]["Name"] + ' ' + data[i]["Surname"] + '</option>';
                }

                $("#normalMessagePersonSelectDiv select").html(html);
                $(".selectpicker").selectpicker('refresh');
                setTimeout(function () {
                    $('#normalMessagePersonSelectDiv input').first().attr('style', 'color: black !important;');
                    $('#normalMessagePersonSelectDiv input').first().removeAttr("onkeyup").attr('onkeyup', "$('.no-results').attr('style', 'background-color: #00000026; color: black;');");
                    $("#normalMessagePersonSelectDiv").fadeIn(400);
                }, 300);

                console.log(data);
            }
        });
    }

    function listNotifications(isAuto) {
        $.ajax({
            url: '@Url.Action("GetRedirectedMessagesForHeadOfDepartment", "Whatsapp")',
            type: 'POST',
            data: {},
            dataType: 'json',
            success: function (data) {
                var answer = false;
                if (data.length > 0) {
                    if (isAuto) {
                        answer = confirm("Atanması geren " + data.length + " adet task mevcuttur.\nAtamak ister misiniz?");
                    }
                }

                if (answer || !isAuto) {
                    $("#modalRedirectWhatsappTableContainer").html('<table class="table"> <thead> <tr> <th>Departman</th> <th>Gönderen</th> <th>Mesaj</th> <th>Mesaj Tarihi</th> <th>Yönlendirilme Tarihi</th> <th>Yönlendiren Kişi</th> <th></th> <th></th> </tr> </thead> <tbody></tbody> </table>');
                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        html += "<tr>";
                        html += "<td>" + data[i]["DepartmentName"] + "</td>";
                        html += "<td>" + customReplaceAll(data[i]["SenderNumber"], " ", "&nbsp;") + "</td>";
                        html += "<td>" + data[i]["Message"] + "</td>";
                        html += "<td>" + data[i]["MessageDate"] + "</td>";
                        html += "<td>" + data[i]["RedirectDate"] + "</td>";
                        html += "<td>" + data[i]["RedirectedUserName"] + "</td>";
                        html += "<td><i onclick=\"listAllProjectsForNotification(" + data[i]["Id"] + ", '" + customReplaceAll(data[i]["Message"].split("<br>")[0], "'", "") + "')\" class=\"actionIcon fa fa-share\"></i></td>";
                        html += "<td><i onclick=\"deleteRedirect(" + data[i]["Id"] + ")\" class=\"actionIcon fa fa-times\"></i></td>";
                        html += "</tr>";
                    }

                    $("#modalRedirectWhatsapp tbody").html(html);


                    $('#modalRedirectWhatsapp table').DataTable({
                        "lengthChange": false,
                        "order": [],
                        "language": {
                            "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                        },
                        "initComplete": function (settings, json) {
                            $(".dataTables_wrapper select option").css("background-color", "#191919");
                            $("*[type='search']").attr("style", "color: black !important;");
                        }
                    });

                    $("#modalRedirectWhatsapp").modal('show');
                }
            }
        });
    }

    function saveNotificationAsTask() {
        var redirectId = $("#redirectIdForNotification").val();
        var milestoneId = $("#milestoneIdForNotification").val();
        var sprintId = $("#sprintIdForNotification").val();
        var personId = $("#userIdForNotification").val();
        var title = $("#titleForNotification").val();
        var desc = $("#descForNotification").val();

        if (milestoneId == '' || sprintId == '' || personId == '' || title == '' || desc == '') {
            swal('Lütfen boş alan bırakmayınız!');
            return;
        }

        $.ajax({
            url: '@Url.Action("SaveWhatsappMessageAsTask", "Whatsapp")',
            type: 'POST',
            data: {
                "_redirectId": redirectId,
                "_milestoneId": milestoneId,
                "_sprintId": sprintId,
                "_personId": personId,
                "_title": title,
                "_desc": desc
            },
            dataType: 'json',
            success: function (data) {
                if (data) {
                    swal('İşlem başarılı');
                    $("#modalRedirectWhatsappDetail").modal('hide');

                    listNotifications(false);
                }
            }
        });
    }

    function deleteRedirect(_id) {
        var answer = confirm("İşleme devam etmek istediğinizden emin misiniz?");

        if (answer) {

            $.ajax({
                url: '@Url.Action("DeleteRedirect", "Whatsapp")',
                type: 'POST',
                data: {
                    "_id": _id
                },
                dataType: 'json',
                success: function (data) {
                    if (data) {

                        swal('İşlem başarılı!');
                        listNotifications(false);
                    }
                }
            });
        }
    }

    function GetMilestonesAndSprintsForNotification(_projectId) {
        $.ajax({
            url: '@Url.Action("GetMilestonesAndSprintsByProjectId", "Whatsapp")',
            type: 'POST',
            data: {
                "_projectId": _projectId
            },
            dataType: 'json',
            success: function (data) {
                var milestones = data["Milestones"];
                var sprints = data["Sprints"];
                var persons = data["Persons"];

                var html = "";

                for (var i = 0; i < milestones.length; i++) {
                    html += '<option value="' + milestones[i]["Id"] + '">' + milestones[i]["Name"] + '</option>';
                }

                $("#milestoneIdForNotification").html(html);
                $("#milestoneIdForNotification").removeAttr("disabled");
                $(".selectpicker").selectpicker('refresh');

                html = "";

                for (var i = 0; i < sprints.length; i++) {
                    html += '<option value="' + sprints[i]["Id"] + '">' + sprints[i]["Name"] + '</option>';
                }

                $("#sprintIdForNotification").html(html);
                $("#sprintIdForNotification").removeAttr("disabled");
                $(".selectpicker").selectpicker('refresh');

                html = "";

                for (var i = 0; i < persons.length; i++) {
                    html += '<option value="' + persons[i]["Id"] + '">' + persons[i]["Name"] + ' ' + persons[i]["Surname"] + '</option>';
                }

                $("#userIdForNotification").html(html);
                $("#userIdForNotification").removeAttr("disabled");
                $(".selectpicker").selectpicker('refresh');

                $("#titleForNotification").removeAttr("disabled");
                $("#descForNotification").removeAttr("disabled");
            }
        });
    }

    function controlRedirectNotifications() {
        listNotifications(true);
        setTimeout(controlRedirectNotifications, (1000 * 60 * 10));
    }


</script>

<body class="inverse">
    <div class="wrapper">
        <div class="sidebar" data-active-color="blue" data-background-color="black"
             style="background-color:#304a5e">
            <!--
                Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
                Tip 2: you can also add an image using data-image tag
                Tip 3: you can change the color of the sidebar with data-background-color="white | black"
            -->
            <div class="logo text-center text-info">
                <div class="icon icon-info">
                    <a href="../Home/Index"> <i class="material-icons" style="font-size:40px; border:2px solid #E5E5E5; border-radius:50%; width:70px; height:70px; line-height:70px;">timeline</i></a>
                </div>
                <h4 style="font-weight: bold;">@Html.Raw(ViewBag.SelectedProjectName == null ? "Proje Yönetim Platformu" : ViewBag.SelectedProjectName.ToUpper())</h4>
            </div>
            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="https://www.bajajelectricals.com/img/comment-user.png" />
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>
                                @activePerson.Name @activePerson.Surname

                            </span>
                        </a>
                        <div class="clearfix"></div>

                    </div>
                </div>
                <ul id="leftMenuItems" class="nav">
                    @{
                        if (activePerson.IsAdmin == 0)
                        {
                            <li>
                                <a href="@(Url.Action("Index","Home"))">
                                    <i class="material-icons">dashboard</i>
                                    <p> Panel</p>
                                </a>
                            </li>
                            <li>
                                <a href="@(Url.Action("Index","QuickTask"))">
                                    <i class="material-icons">computer</i>
                                    <p> Hızlı Görev </p>
                                </a>
                            </li>

                            if (ViewBag.SelectedProjectId > 0)
                            {

                                <li>
                                    <a href="@(Url.Action("Index","DetailTask"))">
                                        <i class="material-icons">computer</i>
                                        <p> Detaylı Görev </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="@(Url.Action("Index","Roadmap"))">
                                        <i class="material-icons">call_split</i>
                                        <p> Yol Haritası </p>
                                    </a>
                                </li>


                                <li>
                                    <a href="@(Url.Action("Index","Board"))">
                                        <i class="material-icons">tab</i>
                                        <p> Pano </p>
                                    </a>
                                </li>

                                <li>
                                    <a href="@(Url.Action("Index","StepPerson"))">
                                        <i class="material-icons">play_circle_outline</i>
                                        <p> Durdur & Başlat </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="@(Url.Action("Index","ToDoList"))">
                                        <i class="material-icons">computer</i>
                                        <p> Yapılacaklar Listesi </p>
                                    </a>
                                </li>

                            }
                            if (ViewBag.SelectedProjectId <= 0)
                            {
                                <li>
                                    <a href="@(Url.Action("Index","ToDoList2"))">
                                        <i class="material-icons">computer</i>
                                        <p> Yapılacaklar Listesi  </p>
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            <li>
                                <a href="@(Url.Action("Index","Home"))">
                                    <i class="material-icons">dashboard</i>
                                    <p> Panel</p>
                                </a>
                            </li>
                            <li>
                                <a href="@(Url.Action("Index","Person"))">
                                    <i class="material-icons">group</i>
                                    <p> Kişi & Takım İşlemleri </p>
                                </a>
                            </li>

                            <li>
                                <a href="@(Url.Action("Index","QuickTask"))">
                                    <i class="material-icons">computer</i>
                                    <p> Hızlı Görev </p>
                                </a>
                            </li>


                            if (ViewBag.SelectedProjectId > 0)
                            {
                                <li>
                                    <a href="@(Url.Action("Index","ToDoList"))">
                                        <i class="material-icons">computer</i>
                                        <p> Yapılacaklar Listesi </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="@(Url.Action("Index","Board"))">
                                        <i class="material-icons">tab</i>
                                        <p> Pano </p>
                                    </a>
                                </li>

                                <li>
                                    <a href="@(Url.Action("Index","DetailTask"))">
                                        <i class="material-icons">computer</i>
                                        <p> Detaylı Görev </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="@(Url.Action("Index","Roadmap"))">
                                        <i class="material-icons">call_split</i>
                                        <p> Yol Haritası </p>

                                    </a>
                                    <i id="milestone" class="actionIcon fa fa-angle-left" style="float: right; margin-top: -40px; margin-right: 20px; font-size: 24px; position: relative; font-weight: bold;"></i>

                                </li>
                                <li id="milestoneAltMenu" style="width: 75% !important;background-color: transparent;margin: 0 auto;text-align: left;margin-left: 19%;margin-top: 5px;margin-bottom: 5px; display: none;">
                                    <a href="/Milestone" style="margin: 0; padding: 0;">
                                        <p style="margin: 0px;padding: 0px;padding-top: 7px;padding-bottom: 7px;">
                                            <i class="fa fa-circle-o" style="margin: 0px;padding: 0px;color: white;color: 10px;font-size: 15px;"></i> Milestone İşlemleri
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="@(Url.Action("Index","BackLog"))">
                                        <i class="material-icons">view_list</i>
                                        <p> İterasyon </p>
                                    </a>
                                </li>

                                <li>
                                    <a href="@(Url.Action("Index","Gorev"))">
                                        <i class="material-icons">short_text</i>
                                        <p> Görevler </p>
                                    </a>
                                </li>


                                <li>
                                    <a href="@(Url.Action("Index","StepPerson"))">
                                        <i class="material-icons">play_circle_outline</i>
                                        <p> Durdur & Başlat </p>
                                    </a>
                                </li>

                                <li>
                                    <a href="@(Url.Action("Index","DoingWhat"))">
                                        <i class="material-icons">computer</i>
                                        <p> Kim Ne Yapıyor? </p>
                                    </a>
                                </li>


                                @*<li>
                        <a href="@(Url.Action("Index","Whatsapp"))">
                            <i class="fa fa-whatsapp"></i>
                            <p> Whatsapp </p>
                        </a>
                    </li>*@

                                <li>
                                    <a href="@(Url.Action("Index","Reports"))">
                                        <i class="fa fa-file"></i>
                                        <p> Raporlar </p>
                                    </a>
                                </li>

                            }
                            if (ViewBag.SelectedProjectId <= 0)
                            {
                                <li>
                                    <a href="@(Url.Action("Index","ToDoList2"))">
                                        <i class="material-icons">computer</i>
                                        <p> Yapılacaklar Listesi </p>
                                    </a>
                                </li>
                            }
                        }
                    }
                    <li>
                        <a href="@Url.Action("Logout", "Login")">
                            <i class="material-icons" style="">exit_to_app</i>
                            <p style="color: #1d808c; font-weight: bold;"> Çıkış Yap </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel" style="background-color:#f2f2f2">

            <nav class="navbar navbar-inverse navbar-transparent navbar-absolute" style="background-color:#002644">
                <div class="container-fluid">
                    <div id="tarihDiv" style="float: right; width: fit-content; text-align: right;"></div>
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-simple btn-white btn-round btn-just-icon">
                            <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                            <i class="material-icons visible-on-sidebar-mini">view_list</i>
                        </button>

                    </div>
                    <div class="navbar-header" style="font-size:20px;">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#"> <h4 style="font-weight: 500;">@ViewBag.Title</h4> </a>
                    </div>

                    <!--<div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <button style="display: none;" onclick="completeSprint()" id="finishSprintButton" class="btn btn-warning btn-round">
                                    <i class="material-icons">view_list</i> SPRINTI BİTİR
                                    <div class="ripple-container"></div></button>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">3</span>
                                    <p class="hidden-lg hidden-md">
                                        Notifications
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Yeni bir görev ataması!</a>
                                    </li>
                                    <li>
                                        <a href="#">Bir görevin süresi doldu!</a>
                                    </li>
                                    <li>
                                        <a href="#">Yeni bir bildirim!</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group form-search is-empty">
                                <input type="text" class="form-control" placeholder=" Arama ">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-simple btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>-->
                </div>
            </nav>
            <div class="content">
                @RenderBody()
            </div>


            <footer class="footer py-0" style="background-color: #002644;">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="#"> @ViewBag.SelectedProjectName </a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="~/Content/New/assets/js/demo.js"></script>
<script src="~/Content/tema/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="~/Content/New/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/New/assets/js/material.min.js" type="text/javascript"></script>
<script src="~/Content/New/assets/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="~/Content/New/assets/js/arrive.min.js" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script src="~/Content/New/assets/js/jquery.validate.min.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="~/Content/New/assets/js/moment.min.js"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script src="~/Content/New/assets/js/chartist.min.js"></script>
<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="~/Content/New/assets/js/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script src="~/Content/New/assets/js/bootstrap-notify.js"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="~/Content/New/assets/js/bootstrap-datetimepicker.js"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="~/Content/New/assets/js/jquery-jvectormap.js"></script>
<!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
<script src="~/Content/New/assets/js/nouislider.min.js"></script>
<!--  Google Maps Plugin    -->
<script type="~/Content/New/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="~/Content/New/assets/js/jquery.select-bootstrap.js"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script src="~/Content/New/assets/js/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
<script src="~/Content/New/assets/js/sweetalert2.js"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="~/Content/New/assets/js/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="~/Content/New/assets/js/fullcalendar.min.js"></script>
<!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="~/Content/New/assets/js/jquery.tagsinput.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="~/Content/New/assets/js/material-dashboard.js?v=1.2.1"></script>



<!-- test -->
<script type="text/javascript">
    $(document).ready(function () {
        demo.initFormExtendedDatetimepickers();
        controlRedirectNotifications();
        getUnreadMessageCount();
    });

    $("#milestone").click(function () {

        if ($("#milestoneAltMenu").is(":visible")) {
            $("#milestoneAltMenu").toggle(500);
            $("#milestone").attr('class', 'fa fa-angle-left');
        }
        else {
            $("#milestoneAltMenu").toggle(500);
            $("#milestone").attr('class', 'fa fa-angle-down');
        }
    });




    function changeSelectedProject(projectId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChangeSelectedProject", "Base")',
            data: {
                "_projectId": projectId
            },
            success: function (data) {
                window.location = "@Url.Action("Index", "Board")";
            },
            error: function (err) {
                swal("HATA!");
            }
        });
    }

    function changeEnglishDateTimeToTurkishDateTime(date) {
        var year = date.split("-")[0];
        var month = date.split("-")[1];
        var day = date.split("-")[2];
        return day + "/" + month + "/" + year;
    }

    function customReplaceAll(_sourceString, _replaceString, _replacedString) {
        var tempString = _sourceString.trim().trim();
        var charIndex = tempString.lastIndexOf(_replaceString);
        while (charIndex != -1) {
            tempString = tempString.replace(_replaceString, _replacedString);
            charIndex = tempString.lastIndexOf(_replaceString);
        }
        return tempString;
    }

    function openCloseMessageList() {
        $("#messageHeader span").first().html('Mesajlar');

        if (parseInt($('#messageHeader').css('margin-bottom').replace('px', '').trim()) == 0) {
            $('#messagesBody').css('height', '450px');
            $('#messageHeader').css('margin-bottom', '450px');
            getNormalMessages();
        }
        else {
            $('#messagesBody').css('height', '0px');
            $('#messageHeader').css('margin-bottom', '0px');
        }
    }

    function getUnreadMessageCount() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetUnreadMessageCount", "Base")',
            data: {},
            success: function (data) {
                $("#messageHeader span").last().html(data);
                setTimeout(getUnreadMessageCount, 3000);
            },
            error: function (err) {
                swal("HATA!");
            }
        });
    }

    function makeMessagesSeen(_messageId) {
        $.ajax({
            url: '@Url.Action("MakeMessagesSeen", "Base")',
            type: 'POST',
            data: {
                "_messageId": _messageId
            },
            dataType: 'json',
            success: function (data) {

            },
            error: function (xhr) {
                console.log("hata");
                console.log(xhr);
            }
        });
    }

    function getMessagesBetweenTwoPeople(_nameSurname, _messageId, newMessageId = 0) {

        $.ajax({
            url: '@Url.Action("GetMessagesBetweenTwoPeople", "Base")',
            type: 'POST',
            data: {
                "_messageId": _messageId
            },
            dataType: 'json',
            success: function (data) {
                if (_nameSurname != '')
                    $("#messageHeader span").first().html(_nameSurname);
                var html = "";

                if (data.length > 0 && newMessageId == 0)
                    html += '<input id="lastMessageBetweenTwoUsersId" style="display: none; color: black;" value="' + data[data.length - 1]["MessageId"] + '" />';
                else {
                    html += '<input id="lastMessageBetweenTwoUsersReceiverUserId" style="display: none; color: black;" value="' + newMessageId + '" /><input id="lastMessageBetweenTwoUsersId" style="display: none; color: black;" value="0" />';
                }

                for (var i = 0; i < data.length; i++) {
                    if (data[i]["IsFromMe"]) {
                        html += `<div style="margin-bottom: 10px;">
                                    <div style="float: right; width: 75%; margin-right: 5%; `+ (i == 0 ? "margin-top: 30px; " : "") + `padding: 7px; border-radius: 3px; background-color: #51667b; text-shadow: 1px 1px 1px black;">
                                        `+ data[i]["Message"] + `
                                    </div>
                                    <div style="clear: both;"></div>
                                    <span style="float: right; font-weight: bold; width: 75%; display: block; margin-right: 5%; color: #adadad; font-size: 11px; margin-top: 2px; text-shadow: 1px 1px 1px black;">`+ data[i]["Date"] + `</span>
                                    <div style="clear: both;"></div>
                                </div><div style="clear: both;"></div>`;
                    }
                    else {
                        html += `<div style="margin-bottom: 10px;">
                                    <div style="width: 75%; margin-left: 5%; `+ (i == 0 ? "margin-top: 30px; " : "") + `padding: 7px; border-radius: 3px; background-color: #51667b; text-shadow: 1px 1px 1px black;">
                                        `+ data[i]["Message"] + `
                                    </div>
                                    <span style="font-weight: bold; width: 75%; display: block; margin-left: 5%; text-align: right; color: #adadad; font-size: 11px; margin-top: 2px; text-shadow: 1px 1px 1px black;">`+ data[i]["Date"] + `</span>
                                    <div style="clear: both;"></div>
                                </div><div style="clear: both;"></div>`;
                    }
                }

                var html2 = `
                            <table style="background-color: #1d1d1d; width: 100%; height: 50px; border-collapse: collapse;    border-top: 1px solid #505050; " cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <center>
                                            <input onkeypress="return runScript(event)" id="messageBetweenTwoUserMessageText" placeholder="Mesajınız..." style="margin-left: 3%; width: 95%; background-color: transparent; border: none; outline: none; color: #d2d2d2;" type="text" autocomplete="off"/>
                                        </center>
                                    </td>
                                    <td style="width: 1px"><div style="background-color: #505050; height: 71%; width: 100%;"> </div></td>
                                    <td style="width: 13%;">
                                        <center>
                                            <i onclick="sendNormalMessage()" style="font-size: 16px; display: block;" class="actionIcon fa fa-paper-plane"></i>
                                        </center>
                                    </td>
                                </tr>
                            </table>
                `;

                $("#messagesBody").html('<div style="margin-left: 5%; height: 50px;"><table style="height: 100%; width: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0"> <tr> <td style="font-weight: bold; color: #949494; text-shadow: 1px 1px 1px black; font-size: 15px;"><div onclick="getNormalMessages()" class="actionIcon" style="width: fit-content;"><i style="margin-right: 5px;" class="fa fa-arrow-left"></i>Geri Dön</div> </td> </tr> </table></div><div id="customMessageScrollDiv" style="height: 350px; overflow-y: auto;">' + html + "</div>"+html2);

                $('#customMessageScrollDiv').scrollTop($('#customMessageScrollDiv')[0].scrollHeight);

                $("#messageBetweenTwoUserMessageText").focus();
            },
            error: function (xhr) {
                console.log("hata");
                console.log(xhr);
            }
        });
    }

    function runScript(e) {
        //See notes about 'which' and 'key'
        if (e.keyCode == 13) {
            sendNormalMessage();
            $("#messageBetweenTwoUserMessageText").focus();
            return false;
        }
    }


    function sendNormalMessage() {
        var message = $("#messageBetweenTwoUserMessageText").val();
        var lastMessageId = $("#lastMessageBetweenTwoUsersId").val();

        if (message.trim() == "")
            return;

        $.ajax({
            type: "POST",
            url: '@Url.Action("SendMessage", "Base")',
            data: {
                "_lastMessageId": lastMessageId,
                "_text": message,
                "_receiverId": ($("#lastMessageBetweenTwoUsersReceiverUserId").length > 0 ? $("#lastMessageBetweenTwoUsersReceiverUserId").val() : 0)
            },
            success: function (data) {
                if (data > 0)
                    getMessagesBetweenTwoPeople('', data);
            },
            error: function (err) {
                swal("HATA!");
            }
        });
    }



    function getNormalMessages() {

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetNormalMessages", "Base")',
            data: {},
            success: function (data) {
                var html = '';

                $("#messageHeader span").first().html('Mesajlar');

                for (var i = 0; i < data.length; i++) {
                    html += `<div onclick="makeMessagesSeen(` + data[i]["MessageId"] + `); getMessagesBetweenTwoPeople('` + data[i]["Name"] + `', ` + data[i]["MessageId"] + `)" style="` + (data[i]["IsSeen"] == false && data[i]["ReceiverId"] == @activePerson.Id ? "background-color: #099aafa6 !important;" : "") + `" class="actionIcon messageItem">
                                <span style="float: left; font-weight: bold; width: 70%;">
                                    `+ data[i]["Name"] + `
                                </span>
                                <span style="float: left; width: 30%; font-size: 12px; text-align: right; font-size: 11px; font-weight: bold; color: #bbbbbb;">
                                    `+ data[i]["Date"] + `
                                </span>

                                <span style="width: 100%; display: block; margin-top: 27px; color: #cacaca; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    `+ data[i]["Message"] + `
                                </span>

                                <div style="clear: both;"></div>
                            </div>`;
                }

                var html2 = `<div style="margin-left: 5%; height: 50px;">
                                <table style="height: 100%; width: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-weight: bold; color: #949494; text-shadow: 1px 1px 1px black; font-size: 15px;">
                                                <div onclick="getAllPersonsForMessageSend()" class="actionIcon" style="width: fit-content;"><i style="margin-right: 5px;" class="fa fa-plus"></i>Yeni Mesaj</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>`;

                $("#messagesBody").html(html2 + html);
                $(".messageItem").first().css("margin-top", '0px');
            },
            error: function (err) {
                swal("HATA!");
            }
        });
    }
</script>



<script>
    var items = $("#leftMenuItems p");

    for(var i = 0; i < items.length; i++)
    {
        var text = $(items[i]).text().trim();

        if(text == "@Html.Raw(ViewBag.ActivePageName)")
            $(items[i]).parent().parent().attr("class", "active");
    }
</script>

</html>