@{
    ViewBag.Title = "Add Milestone And Task";
}
@model PMPDAL.Models.MilestoneViewModel
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/tema/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/tema/bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="~/Content/tema/bower_components/Ionicons/css/ionicons.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/tema/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="~/Content/tema/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="~/Content/tema/plugins/iCheck/all.css">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="~/Content/tema/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="~/Content/tema/plugins/timepicker/bootstrap-timepicker.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="~/Content/tema/bower_components/select2/dist/css/select2.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/Content/tema/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="~/Content/tema/dist/css/skins/_all-skins.min.css">

<style>
    .dugme {
        cursor: pointer;
        display: inline-block;
        padding: 0px 10px;
        background: #eee;
        border: 2px solid #d8d8d8;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12px;
        color: #444;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    [name="kapat"] {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .pencere {
        position: fixed;
        top: auto;
        left: auto;
        width: 500px;
        height: auto;
        background: #fff;
        box-shadow: 0 0 6px 2px rgba(0,0,0,0.4);
        opacity: 0;
        transition: opacity 0.6s ease-out;
        z-index: -1;
        padding: 10px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin: -150px 0 0 -200px;
    }

    .Pencereac {
        width: 1px;
        height: 1px;
        visibility: hidden;
    }

        .Pencereac:checked + .pencere {
            top: 50%;
            left: 50%;
            display: block;
            z-index: 9;
            opacity: 1;
        }



    .dugme1 {
        cursor: pointer;
        display: inline-block;
        padding: 5px 10px;
        background: #eee;
        border: 1px solid #d8d8d8;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
        color: #444;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    [name="kapat"] {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .pencere1 {
        position: fixed;
        top: auto;
        left: auto;
        width: 500px;
        height: auto;
        background: #fff;
        box-shadow: 0 0 6px 2px rgba(0,0,0,0.4);
        opacity: 0;
        transition: opacity 0.6s ease-out;
        z-index: -1;
        padding: 10px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin: -150px 0 0 -200px;
    }

    .Pencereac1 {
        width: 1px;
        height: 1px;
        visibility: hidden;
    }

        .Pencereac1:checked + .pencere1 {
            top: 50%;
            left: 50%;
            display: block;
            z-index: 9;
            opacity: 1;
        }
</style>

<!-- <div align="right">
  <a href="#"><i class="fa fa-user-plus"> Create issue</i></a>
  </div>
<br> -->

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="line-height:2.2">
                <h3 class="box-title">New Task</h3>

                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Milestone</th>
                            <th>Task Title</th>
                            <th>Task Explanation</th>
                            <th>Assigned User</th>
                            <th>Sprint ID</th>
                            <th>Worker</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="StartDatePicker">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="EndDatePicker">
                                    </div>
                                </div>
                </div>
                </td>

                <td>
                    <div class="form-group">

                        <select id="milestoneId" class="form-control">

                            @{
                                foreach (var item in Model.MilestoneList)
                                {


                                    <option value="@item.Id">@item.Name</option>

                                }

                            }
                        </select>
                    </div>
                </td>
                <td><input id="title" type="text" class="form-control" placeholder="Title..."></td>
                <td><textarea id="taskDesc" placeholder="text..."></textarea></td>
                <td>
                    <div class="form-group">

                        <select id="assignedUserId" class="form-control">

                            @foreach (var item in Model.PersonList)
                            {
                                <option value="@item.Id">@item.Name @item.Surname</option>
                            }

                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">

                        <select id="sprintID" class="form-control">

                            @foreach (var item3 in Model.SprintList)
                            {
                                <option value="@item3.Id">@item3.Name</option>
                            }

                        </select>
                    </div>
                </td>
                <td>

                    <div class="form-group">
                        <select id="workerIds" class="form-control select2" multiple="multiple" data-placeholder="Select a worker" style="width: 100%; height: 100%;">
                            @foreach (var item2 in Model.PersonList)
                            {
                                <option value="@item2.Id">@item2.Name @item2.Surname</option>
                            }


                        </select>
                    </div>
                </td>

                </tr>

                </table>
                <button type="button" class="btn btn-info pull-right" onclick="saveStep()">SAVE!</button>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
    </section>
<!-- /.content -->
  </div>



<!-- ADD MİLESTONE!!! -->

<div class="box" style="line-height:2.5">
    <div class="box-header">
        <h3 class="box-title">Add Milestone</h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">

            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body col-md-15">
        <table class="table">
            <tr>

                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Project Manager</th>
            </tr>
            <tr>

                <td><input id="titleMilestone" type="text" class="form-control" placeholder="Title..."></td>
                <td>
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="StartDatePicker1">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="EndDatePicker1">
                        </div>
                    </div>
                </td>
                <td><textarea id="MileDescription" placeholder="text..."></textarea></td>
                <td>
                    <div class="form-group">
                        <select id="projectID" class="form-control">

                            @foreach (var item in Model.ProjectList)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        </select>
                </td>
            </tr>

        </table>
        <button type="button" class="btn btn-info pull-right" onclick="saveMilestone()">Add</button>
    </div>
    <!-- /.box-body -->
</div>

<!-- ADD SPRİNT.... -->

<div class="box" style="line-height:2.5">
    <div class="box-header">
        <h3 class="box-title">Add Sprint</h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">

            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body col-md-15">
        <table class="table">
            <tr>

                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>

            </tr>
            <tr>

                <td>
                    <input id="titleSprint" type="text" class="form-control" placeholder="Title...">
                </td>
                <td>
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="StartDatePicker2">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="EndDatePicker2">
                        </div>
                    </div>
                </td>
                <td><textarea id="SprintDescription" placeholder="text..."></textarea></td>

            </tr>

        </table>
        <button type="button" class="btn btn-info pull-right" onclick="saveSprint()">Add</button>
    </div>
    <!-- /.box-body -->
</div>

<!-- ADD PROJECT -->

<div class="box" style="line-height:2.5">
    <div class="box-header">
        <h3 class="box-title">Add Project</h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">

            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body col-md-15">
        <table class="table">
            <tr>

                <th>Title</th>
                <th>Code</th>
                <th>Short Name</th>
                <th>Description</th>
                <th>Project Leader</th>

            </tr>
            <tr>

                <td>
                    <input id="titleProject" type="text" class="form-control" placeholder="Title...">
                </td>
                <td>
                    <input id="code" type="text" class="form-control" placeholder="Code...">
                </td>
                <td>
                    <input id="shortname" type="text" class="form-control" placeholder="ShortName...">
                </td>
                <td><textarea id="ProjectDesciption" placeholder="Description..."></textarea></td>
                <td>
                    <div class="form-group">
                        <select id="personID" class="form-control">

                            @foreach (var item in Model.PersonList)
                            {

                                <option value="@item.Id">@item.Name @item.Surname</option>

                            }
                        </select>
                </td>

            </tr>

        </table>
        <button type="button" class="btn btn-info pull-right" onclick="saveProject()">Add</button>
    </div>
    <!-- /.box-body -->
</div>


<script>

function saveProject(){

  var titleProject = $("#titleProject").val();
  var code = $("#code").val();
  var shortname = $("#shortname").val();
  var Description = $("#ProjectDesciption").val();
  var personID = $("#personID").val();


        $.ajax({
        type: "POST",
        url: '@Url.Action("SaveProject", "AddMilestoneAndTask")',
        data: {
            "_titleProject": titleProject,
            "_code": code,
            "_shortname" : shortname,
            "_description": Description,
            "_personID": personID


        },
        success: function (data) {
            swal("BAŞARILI!");
        },
        error: function (err) {
          swal("HATA!");
        }
    });

}

function saveSprint(){

  var titleSprint = $("#titleSprint").val();
  var startDate = $("#StartDatePicker2").val();
  var endDate = $("#EndDatePicker2").val();
  var Description = $("#SprintDescription").val();



        $.ajax({
        type: "POST",
        url: '@Url.Action("SaveSprint", "AddMilestoneAndTask")',
        data: {
            "_titleSprint": titleSprint,
            "_endDate": endDate,
            "_startDate" : startDate,
            "_description": Description,


        },
        success: function (data) {
            swal("BAŞARILI!");
        },
        error: function (err) {
          swal("HATA!");
        }
    });


}


function saveMilestone(){

  var titleMilestone = $("#titleMilestone").val();
  var startDate = $("#StartDatePicker1").val();
  var endDate = $("#EndDatePicker1").val();
  var description = $("#MileDescription").val();
  var projectID = $("#projectID").val();


        $.ajax({
        type: "POST",
        url: '@Url.Action("SaveMilestone", "AddMilestoneAndTask")',
        data: {
            "_titleMilestone": titleMilestone,
            "_endDate": endDate,
            "_startDate" : startDate,
            "_description": description,
            "_projectID": projectID

        },
        success: function (data) {
            swal("BAŞARILI!");
        },
        error: function (err) {
          swal("HATA!");
        }
    });


}


function saveStep(){

  var startDate = $("#StartDatePicker").val();
  var endDate = $("#EndDatePicker").val();
  var mileStoneId = $("#milestoneId").val();
  var title = $("#title").val();
  var desc = $("#taskDesc").val();
  var assignedUserId = $("#assignedUserId").val();
  var workerIds = $("#workerIds").val();
  var sprintID = $("#sprintID").val();

         $.ajax({
        type: "POST",
        url: '@Url.Action("SaveStep", "AddMilestoneAndTask")',
        data: {
            "_startdate": startDate,
            "_enddate": endDate,
            "_milestoneId" : mileStoneId,
            "_title": title,
            "_desc": desc,
            "_assignedUserId": assignedUserId,
            "_workerIds": workerIds,
            "_sprintID": sprintID
        },
        success: function (data) {
            swal("BAŞARILI!");
        },
        error: function (err) {
          swal("HATA!");
        }
    });


}

</script>

<!-- jQuery 3 -->
<script src="~/Content/tema/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/Content/tema/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="~/Content/tema/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="~/Content/tema/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Content/tema/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Content/tema/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="~/Content/tema/bower_components/moment/min/moment.min.js"></script>
<script src="~/Content/tema/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="~/Content/tema/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- bootstrap color picker -->
<script src="~/Content/tema/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="~/Content/tema/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll -->
<script src="~/Content/tema/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="~/Content/tema/plugins/iCheck/icheck.min.js"></script>
<!-- Page script -->
<script>
$(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Date picker
    $('#StartDatePicker').datepicker({
      autoclose: true
    })
    $('#EndDatePicker').datepicker({
      autoclose: true
    })

    //Date picker
    $('#StartDatePicker1').datepicker({
      autoclose: true
    })
    $('#EndDatePicker1').datepicker({
      autoclose: true
    })

       //Date picker
    $('#StartDatePicker2').datepicker({
      autoclose: true
    })
    $('#EndDatePicker2').datepicker({
      autoclose: true
    })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })</script>
