@{
    ViewBag.Title = "Projeler";
    ViewBag.ActivePageName = "Projeler";
}
@using PMPDAL.Entities;
@{
    var activePerson = ViewBag.ActivePerson as Person;
    if (activePerson.IsAdmin == 0)
    {

        @Html.Raw("<script>window.location = '" + @Url.Action("Index", "Home") + "';</script>")
    }
}

<div class="container-fluid">
    <!-- AKTİF PROJELER BURADAN BAŞLIYOR -->
    <div class="col-md-12 mb-5 pb-5">
        <div class="card"
             style="background: #191919; color: white; box-shadow: 0px 0px 9px 2px #48484896; border-radius: 10px;">
            <div onclick="$('#projectTitle').val(''); $('#projectCode').val(''); $('#projectShortName').val(''); $('#projectDesciption').val(''); $('#modalProjeEkleProjeId').val('0');" class="card-header card-header-icon" data-background-color="blue"
                 style="cursor:pointer;" data-toggle="modal" data-target="#projeOlusturModal">
                <h4 id="btnProjeEkleModal" onclick=""><small><b style="color:white;">YENİ PROJE EKLE</b></small></h4>
            </div>
            <div class="card-content">
                <div id="divProjeListesi" class="box-body no-padding">
                    <div style="clear: both;"></div>
                    <table class="table table-striped table-no-bordered table-hover dataTable dtr-inline"></table>
                </div>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- AKTİF PROJELER BURADA BİTİYOR -->
    <!-- YENİ PROJE EKLE MODAL -->
    <div class="modal fade" id="projeOlusturModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <button onclick="" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>

                        <div class="header header-info text-center">
                            <h4 class="card-title">Proje Oluştur</h4>
                            <p class="description text-center" style="color:white;">
                                Buradan
                                proje oluşturabilirsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="modal-body mr-3 ml-0">
                        <form class="form" method="" action="">
                            <div class="card-content py-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">text_format</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input id="modalProjeEkleProjeId" value="0" style="display: none;" />
                                        <input id="projectTitle" type="text" class="form-control" style="color:black!important;" placeholder="Proje adını giriniz.">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">code</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input id="projectCode" type="text" class="form-control" style="color:black!important;" placeholder="Proje kod adını giriniz.">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">short_text</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input id="projectShortName" type="text" class="form-control" style="color:black!important;" placeholder="Proje kısa adını giriniz.">
                                    </div>
                                </div>
                                <div class="input-group mt-4">
                                    <span class="input-group-addon">
                                        <i class="material-icons">description</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <textarea id="projectDesciption" class="form-control" style="color:black !important;" placeholder="Açıklama" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="input-group mt-5">
                                    <span class="input-group-addon">
                                        <i class="material-icons">person</i>
                                    </span>

                                    <div id="divProjeEkleProjectLeader" class="form-group is-empty">

                                        <select class="selectpicker" data-style="btn btn-info btn-round" title="Proje Lideri Seçiniz..." data-size="7">
                                            <option disabled selected>PROJE LİDERİ SEÇİNİZ</option>
                                            <option value="2">Foobar</option>
                                            <option value="3">Is great</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                    </div>
                    </form>
                </div>
                <div class="modal-footer text-center m-5 my-auto py-4" style="border-top: 1px solid #f1efef;">
                    <button onclick="saveProject()" class="btn btn-info btn-round"><i class="material-icons">save_alt</i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <!-- YENİ PROJE EKLE MODAL -->
    <!-- TAMAMLANMIŞ PROJELER BURADA BİTİYOR -->
</div>
        </div>

<script>
       $(document).ready(function () {
        getAllProjeler();
        getAllKullanici();
       });

       function getAllProjeler()
       {
               $.ajax({
               type: "POST",
               url: '@Url.Action("GetAllProjeler", "Project")',
               data: {},
               success: function (data) {

                      $('#divProjeListesi').html('<div style="clear: both;"></div><table class="table table-striped table-no-bordered table-hover dataTable dtr-inline"><thead><tr style="font-size: 12px !important"> <th style="width: 10px">#</th> <th>Başlık</th> <th style="padding-right: 10px;">Proje Kod Adı</th> <th style="padding-right: 10px;">Proje Kısa Adı</th> <th style="width: 10%">Açıklama</th> <th style="width: 13%">Proje Lideri</th><th></th><th></th> </tr></thead><tbody>');

                         for(var i = 0; i < data.length; i++)
                         {
                                var projectLeader = getKullaniciById(data[i]["ProjectLeader"]);
                                var html = `<tr style="font-size: 12px !important">
                            <td style="vertical-align: top;">`+(i+1)+`</td>
                             <td style="vertical-align: top;">`+data[i]["Name"]+`</td>
                             <td style="vertical-align: top;">`+ (data[i]["Code"] == null ? "" : data[i]["Code"]) +`</td>
                             <td style="vertical-align: top;">`+(data[i]["ShortName"] == null ? "" : data[i]["ShortName"])+`</td>
                             <td style="vertical-align: top;">`+ (data[i]["Description"] == null ? "" : data[i]["Description"]) +`</td>
                            <td style="vertical-align: top;">`+projectLeader+`</td>`;

                            html+="<td><i class='fa fa-edit actionIcon' onclick='prepareProjeUpdatePanel("+data[i]["Id"]+");' style='float:right; font-size: 18px;'></i></td><td><i class='fa fa-trash actionIcon' onclick='deleteProje("+data[i]["Id"]+")' style='font-size: 18px; float:right'></i></td></tr>";
                            html += '</tbody></table>';
                               $('#divProjeListesi table').append(html);



                         }
                               $('#divProjeListesi table').DataTable( {
                                    "language": {
                                        "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                                    },
                                     "initComplete": function(settings, json) {
                                            $(".dataTables_wrapper select option").css("background-color", "#191919");
                                        }
                                });


               },
               error: function (err) {
                 swal("HATA!");
               }
              });
       }

       function getAllKullanici()
       {
              $.ajax({
               type: "POST",
               url: '@Url.Action("GetAllKullanici", "Gorev")',
               data: {},
               success: function (data) {
                       $("#divProjeEkleProjectLeader select").html('');
                       var html = "";
                         for(var i = 0; i < data.length; i++)
                         {
                                html += `<option value="`+data[i]["Id"]+`">`+data[i]["Name"]+`&nbsp`+data[i]["Surname"]+`</option>`;

                         }

                         $("#divProjeEkleProjectLeader select").html(html);
                         $('.selectpicker').selectpicker();
                            $('.selectpicker').selectpicker('refresh');
               },
               error: function (err) {
                 swal("HATA!");
               }
              });
       }

       function getKullaniciById(_kullaniciId){
              var returnResult;
              $.ajax({
               type: "POST",
               url: '@Url.Action("GetKullaniciById", "Project")',
               data: {
                     "_kullaniciId":_kullaniciId
               },
              dataType: 'json',
              async: false,
               success: function (data) {
                     returnResult = data;

               },
               error: function (err) {
                 swal("HATA!");
               }
              });

              return returnResult;
       }



function saveProject(_projectId){

  var titleProject = $("#projectTitle").val();
  var code = $("#projectCode").val();
  var shortname = $("#projectShortName").val();
  var Description = $("#projectDesciption").val();
  var personId = $("#divProjeEkleProjectLeader select").val();
  var projectId = $("#modalProjeEkleProjeId").val();

    if(titleProject == "" || titleProject == null)
    {
        swal("Proje Adı Boş Geçilemez!");
        return;
    }
    if(code == "" || code == null)
    {
        swal("Proje Kodu Boş Geçilemez!");
        return;
    }
    if(shortname == "" || shortname == null)
    {
        swal("Proje Kısa Adı Boş Geçilemez!");
        return;
    }
       if(Description == "" || Description == null)
    {
        swal("Açıklama Boş Geçilemez!");
        return;
    }
        if(personId == "" || personId == null)
    {
        swal("Proje Lideri Boş Geçilemez!");
        return;
    }




        $.ajax({
        type: "POST",
        url: '@Url.Action("SaveProject", "Project")',
        data: {
            "_titleProject": titleProject,
            "_code": code,
            "_shortname" : shortname,
            "_description": Description,
            "_personId": personId,
            "_projectId": projectId

        },
        success: function (data) {
            swal("BAŞARILI!");
            $('#modalProjeEkle').hide();
            getAllProjeler();

              $("#projectTitle").val('');
              $("#projectCode").val('');
              $("#projectShortName").val('');
              $("#projectDesciption").val('');
              $('#modalProjeEkleProjeId').val('0');
              $('#projeOlusturModal').modal('hide');

        },
        error: function (err) {
          swal("HATA!");
        }
    });

}



function deleteProje(_projeId)
       {
              var answer = confirm("Silmek istediğinize emin misiniz?");

              if (!answer) {
                  return;
              }location.reload();

               $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteProje", "Project")',
                    data: {
                        "_projeId": _projeId

                    },
                    success: function (data) {

                        if (data == false) {
                            swal("Proje silinirken bir hata oluştu!");
                        }
                        else {
                            swal("Proje başarıyla silindi!");
                            window.location.reload();
                        }
                    },
                    error: function (err) {
                      swal("HATA!");
                    }
                });
       }



 function prepareProjeUpdatePanel(_projeId)
       {
          $.ajax({
           type: "POST",
           url: '@Url.Action("GetProjeById", "Project")',
           data: {
               "_projeId": _projeId

           },
           success: function (data) {




             $("#modalProjeEkleProjeId").val(_projeId);
             $("#projectTitle").val(data["Name"]);
             $("#projectCode").val(data["Code"]);
             $("#projectShortName").val(data["ShortName"]);
             $("#projectDesciption").val(data["Description"]);
             $("#divProjeEkleProjectLeader select").val(data["ProjectLeader"]);


             $("#projeOlusturModal").modal('show');
                                $('.selectpicker').selectpicker();
                            $('.selectpicker').selectpicker('refresh');

           },
           error: function (err) {
             swal("HATA!");
           }
        });
       }

</script>
