

@{
    ViewBag.Title = "Yapılacaklar Listesi";
    ViewBag.ActivePageName = "Yapılacaklar Listesi";
}

<style>



    .customInfoBox {
        transition: all 0.5s;
    }

        .customInfoBox:hover {
            color: #d2d2d2 !important;
        }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #00bcd4 !important;
    }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #00bcd4 !important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #00bcd4;
        border: 1px solid #00bcd4;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
        color: white;
        font-family: sans-serif;
        font-size: 11px;
        border: 1px solid white;
        font-weight: bold;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: white;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        margin-right: 3px;
        color: white;
        font-size: 15px;
        /* margin-top: 5px; */
        float: left;
        margin-top: -1px;
    }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
            color: red !important;
        }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid #00bcd4 1.4px !important;
        outline: 0 !important;
        max-height: 50px !important;
        overflow-x: auto !important;
    }

    .ps-scrollbar-y-rail {
        top: 30px !important;
        right: 0px !important;
        height: 900px !important;
    }

    .ps-scrollbar-x-rail {
        left: 0px;
        bottom: -71px;
    }

    .select2-dropdown {
        z-index: 12372832183728327432789 !important;
    }
</style>
<script>
    function showPopup(stepId, boardId, elem)
    {
         if ($("#handMadeToolTip").is(':visible'))
            return;

        boardId = $(elem).parent().parent().parent().parent().attr("id").replace("divOuter", "");

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetStepHoverInfo", "Board")',
            data: {
                "_stepId": stepId,
                "_boardId": boardId
            },
            success: function (data) {
                var htmlStr = data;

                var rect = elem.getBoundingClientRect();
                var left = rect.left + "px";
                var topd = rect.top + "px";

                htmlStr = '<div style="position: absolute; top: ' + topd + '; left: ' + left + '; margin-left: 20px; background-color: rgba(0, 0, 0, 0.6); color: white; z-index: 12438714372393; padding: 10px; border-radius: 10px !important; font-weight: bold; font-size: 12px;" id="handMadeToolTip">' + htmlStr + "</div>";
                $("body").append(htmlStr);
            }
        });
    }

</script>

<div class="container-fluid" id="divMain">
    <div class="row mt-5">
    </div>
</div>

<div class="modal fade" id="projeEkleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=" display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <div class="header header-info text-center">
                        <h4 class="card-title">Proje Ekle</h4>
                        <p class="description text-center" style="color:white;">
                            Buradan  proje ekleyebilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-5 ml-4">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <div class="form-group is-empty">
                                    <input id="modalGorevEkleProjeId" value="0" style="display: none;">
                                    <input id="modalGorevEkleProjeAdi" type="text" class="form-control" style="color: black!important;" placeholder="Proje adını giriniz.">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">short_text</i>
                                </span>
                                <div class="form-group is-empty">
                                    <label class="label-control">Bitiş Tarihi</label>
                                    <input style="color:black!important;" type="text"
                                           class="form-control datepicker" id="EndDatePicker" value="" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center m-5 my-auto py-4"
                     style="border-top: 1px solid #f1efef;">
                    <button onclick="savePano()" class="btn btn-info btn-round">
                        <i class="material-icons">save_alt</i> Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="gorevEkleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=" display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <div class="header header-info text-center">
                        <h4 class="card-title">Görev Ekle</h4>
                        <p class="description text-center" style="color:white;">
                            Buradan  görev ekleyebilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-5 ml-4">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <input id="gorevEkleProjeId" value="0" style="display: none;">
                                    <input id="todoName" type="text" class="form-control" style="color: black!important;" placeholder="Görev adını giriniz.">
                                </div>
                            </div>
                            @*<div class="form-group is-empty">
                                    <label class="label-control">Bitiş Tarihi</label>
                                    <input style="color:black!important;" type="datetime-local" class="form-control datepicker" id="todoEndDate" value="" autocomplete="off" />
                                </div>*@
                            <div class="form-group is-empty">
                                <label class="label-control">Bitiş Tarihi</label>
                                <input style="color:black!important;" type="text" class="form-control datepicker" id="todoEndDate" value="" autocomplete="off">
                                <span class="material-input"></span>
                            </div>

                            <div id="divGorevEkleCalisanSecSelect" class="form-group is-empty">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Çalışanları Seç" style="width: 100%;"></select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">short_text</i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center m-5 my-auto py-4"
                     style="border-top: 1px solid #f1efef;">
                    <button onclick="saveTodo()" class="btn btn-info btn-round">
                        <i class="material-icons">save_alt</i> Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="gorevUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=" display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <div class="header header-info text-center">
                        <h4 class="card-title">Görev Güncelle</h4>
                        <p class="description text-center" style="color:white;">
                            Buradan  görev güncelleyebilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-5 ml-4">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <div class="form-group is-empty">
                                    <label>Başlık</label>
                                    <input id="gorevGetirTitleUpdate" type="text" class="form-control" style="color: black!important;" placeholder="Görev adını giriniz.">
                                    <input id="gorevGetirIdUpdate" type="text" class="form-control" style="color: black!important;display:none" placeholder="Görev adını giriniz.">
                                </div>
                                <div class="form-group is-empty">
                                    <label>Açıklama</label>
                                    <input id="gorevGetirDetailUpdate" type="text" class="form-control" style="color: black!important;" placeholder="Görev adını giriniz.">
                                </div>
                            </div>
                            @*<div class="form-group is-empty">
                                    <label class="label-control">Bitiş Tarihi</label>
                                    <input style="color:black!important;" type="datetime-local" class="form-control datepicker" id="todoEndDate" value="" autocomplete="off" />
                                </div>*@
                            <div class="form-group is-empty">
                                <label class="label-control">Bitiş Tarihi</label>
                                <input style="color:black!important;" type="text" class="form-control datepicker" id="gorevGetirEndDateUpdate" value="" autocomplete="off">
                                <span class="material-input"></span>
                            </div>

                            <div id="getCalisanUpdateSecSelect" class="form-group is-empty">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Çalışanları Seç" style="width: 100%;"></select>
                            </div>
                            <div id="getPreTaskUpdateSecSelect" class="form-group is-empty">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Öncelikli Görev" style="width: 100%;"></select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">short_text</i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center m-5 my-auto py-4"
                     style="border-top: 1px solid #f1efef;">
                    <button onclick="updateTask()" class="btn btn-info btn-round">
                        <i class="material-icons">save_alt</i> Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="gorevEkleModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=" display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <div class="header header-info text-center">
                        <h4 class="card-title">Görev Düzenle</h4>
                        <p class="description text-center" style="color:white;">
                            Buradan  görev düzenleyebilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-5 ml-4">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <input id="gorevDüzenleProjeId" value="0" style="display: none;">
                                    <input id="düzenletodoName" type="text" class="form-control" style="color: black!important;" placeholder="Görev adını giriniz.">
                                </div>
                            </div>
                            @*<div class="form-group is-empty">
                                    <label class="label-control">Bitiş Tarihi</label>
                                    <input style="color:black!important;" type="datetime-local" class="form-control datepicker" id="todoEndDate" value="" autocomplete="off" />
                                </div>*@
                            <div class="form-group is-empty">
                                <label class="label-control">Bitiş Tarihi</label>
                                <input style="color:black!important;" type="text" class="form-control datepicker" id="düzenletodoEndDate" value="" autocomplete="off">
                                <span class="material-input"></span>
                            </div>

                            <div id="divGorevDüzenleCalisanSecSelect" class="form-group is-empty">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Çalışanları Seç" style="width: 100%;"></select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">short_text</i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center m-5 my-auto py-4"
                     style="border-top: 1px solid #f1efef;">
                    <button onclick="updateTask()" class="btn btn-info btn-round">
                        <i class="material-icons">save_alt</i> Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-info btn-round btn-fab" rel="tooltip" data-placement="top" title=""
        data-original-title="Yeni Kategori Ekle" data-toggle="modal" data-target="#kategoriOlusturModal"
        style="position: fixed; margin-top: -250px; right: 270px;">
    <i class="material-icons">add</i>
</button>
<!-- KATEGORİ EKLE MODAL -->
<div class="modal fade" id="kategoriOlusturModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button onclick="" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>

                    <div class="header header-info text-center">
                        <h4 class="card-title">Kategori Oluştur</h4>
                        <p class="description text-center" style="color:white;">
                            Buradan
                            kategori oluşturabilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-3 ml-0">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <input id="modalKategriEkleProjeId" value="0" style="display: none;" />
                                    <input id="kategoriTitle" type="text" class="form-control" style="color:black!important;" placeholder="Kategori adını giriniz.">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer text-center m-5 my-auto py-4" style="border-top: 1px solid #f1efef;">
                    <button onclick="saveKategori()" class="btn btn-info btn-round"><i class="material-icons">save_alt</i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- KATEGORİ EKLE MODAL bitiş -->
<!-- KATEGORİ EKLE2 MODAL -->
<div class="modal fade" id="kategoriOlusturModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button onclick="" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>

                    <div class="header header-info text-center">
                        <h4 class="card-title">Kategori Oluştur</h4>
                        <p class="description text-center" style="color:white;">
                            Buradan
                            kategori oluşturabilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-3 ml-0">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <input id="modalKategriDüzenleProjeId" value="0" style="display: none;" />
                                    <input id="updateKategoriTitle" type="text" class="form-control" style="color:black!important;" placeholder="Kategori adını giriniz.">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer text-center m-5 my-auto py-4" style="border-top: 1px solid #f1efef;">
                    <button onclick="updateKategori()" class="btn btn-info btn-round"><i class="material-icons">save_alt</i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- KATEGORİ EKLE2 MODAL bitiş -->
<div class="modal fade" id="kategoriGorevEkleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=" display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <div class="header header-info text-center">
                        <h4 class="card-title">Görev Ekle</h4>
                        <p class="description text-center" style="color:white;">
                            Buradan  görev ekleyebilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-5 ml-4">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <input id="kategoriGorevEkleProjeId" value="0" style="display: none;">
                                    <input id="kategoriGorevName" type="text" class="form-control" style="color: black!important;" placeholder="Görev adını giriniz.">
                                </div>
                            </div>
                            @*<div class="form-group is-empty">
                                    <label class="label-control">Bitiş Tarihi</label>
                                    <input style="color:black!important;" type="datetime-local" class="form-control datepicker" id="todoEndDate" value="" autocomplete="off" />
                                </div>*@
                            <div class="form-group is-empty">
                                <label class="label-control">Bitiş Tarihi</label>
                                <input style="color:black!important;" type="text" class="form-control datepicker" id="kategoriGorevEndDate" value="" autocomplete="off">
                                <span class="material-input"></span>
                            </div>

                            <div id="divKategoriGorevEkleCalisanSecSelect" class="form-group is-empty">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Çalışanları Seç" style="width: 100%;"></select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">short_text</i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center m-5 my-auto py-4"
                     style="border-top: 1px solid #f1efef;">
                    <button onclick="savekategoriGorev()" class="btn btn-info btn-round">
                        <i class="material-icons">save_alt</i> Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .swal2-container {
        z-index: 99999999999999999999999999999999999999999999999999999999999999999 !important;
    }

    .pure-material-checkbox {
        z-index: 0;
        position: relative;
        display: inline-block;
        color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
        font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
        font-size: 16px;
        line-height: 1.5;
    }

        /* Input */
        .pure-material-checkbox > input {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            z-index: -1;
            position: absolute;
            left: -10px;
            top: -8px;
            display: block;
            margin: 0;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
            box-shadow: none;
            outline: none;
            opacity: 0;
            transform: scale(1);
            pointer-events: none;
            transition: opacity 0.3s, transform 0.2s;
        }

        /* Span */
        .pure-material-checkbox > span {
            display: inline-block;
            width: 100%;
            cursor: pointer;
        }

            /* Box */
            .pure-material-checkbox > span::before {
                content: "";
                display: inline-block;
                box-sizing: border-box;
                margin: 3px 11px 3px 1px;
                border: solid 2px; /* Safari */
                border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
                border-radius: 2px;
                width: 18px;
                height: 18px;
                vertical-align: top;
                transition: border-color 0.2s, background-color 0.2s;
            }

            /* Checkmark */
            .pure-material-checkbox > span::after {
                content: "";
                display: block;
                position: absolute;
                top: 3px;
                left: 1px;
                width: 10px;
                height: 5px;
                border: solid 2px transparent;
                border-right: none;
                border-top: none;
                transform: translate(3px, 4px) rotate(-45deg);
            }

        /* Checked, Indeterminate */
        .pure-material-checkbox > input:checked,
        .pure-material-checkbox > input:indeterminate {
            background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
        }

            .pure-material-checkbox > input:checked + span::before,
            .pure-material-checkbox > input:indeterminate + span::before {
                border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
                background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
            }

            .pure-material-checkbox > input:checked + span::after,
            .pure-material-checkbox > input:indeterminate + span::after {
                border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
            }

            .pure-material-checkbox > input:indeterminate + span::after {
                border-left: none;
                transform: translate(4px, 3px);
            }

        /* Hover, Focus */
        .pure-material-checkbox:hover > input {
            opacity: 0.04;
        }

        .pure-material-checkbox > input:focus {
            opacity: 0.12;
        }

        .pure-material-checkbox:hover > input:focus {
            opacity: 0.16;
        }

        /* Active */
        .pure-material-checkbox > input:active {
            opacity: 1;
            transform: scale(0);
            transition: transform 0s, opacity 0s;
        }

            .pure-material-checkbox > input:active + span::before {
                border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
            }

        .pure-material-checkbox > input:checked:active + span::before {
            border-color: transparent;
            background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
        }

        /* Disabled */
        .pure-material-checkbox > input:disabled {
            opacity: 0;
        }

            .pure-material-checkbox > input:disabled + span {
                color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
                cursor: initial;
            }

                .pure-material-checkbox > input:disabled + span::before {
                    border-color: currentColor;
                }

        .pure-material-checkbox > input:checked:disabled + span::before,
        .pure-material-checkbox > input:indeterminate:disabled + span::before {
            border-color: transparent;
            background-color: currentColor;
        }
</style>
<script>
    var selectedToProjectId = 0;
    function Dropped(event, ui){
      $(".draggable").each(function(){
        //My Logic goes here

      });

    }

    $(document).ready(function(){
        fillPano();
       // getCategories();
    });
    function kategoriDüzenle(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCategoryNameandId", "ToDoList")',
            data: {
                "_id":id
            },
            success: function (data) {
                $('#kategoriOlusturModal2').modal('show');
                $('#updateKategoriTitle').val(data[0].Name);
                $('#modalKategriDüzenleProjeId').val(data[0].Id);
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }
    function deleteKategori(id) {
    $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteCategory", "ToDoList")',
            data: {
                "_id":id
            },
            success: function (data) {
                swal('silindi!');
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }

    function getCategories() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCategories", "ToDoList")',
            data: {},
            async: false,
            success: function (data) {
                console.log("birinci", data);
                for (var i = 0; i < data.length; i++) {

                    projects = `<div class="customBoard col-md-3  id="customerBoardColor` + [i] + `"">
                                <div class="card" style="background: #486d89; color: white; box-shadow: 0px 0px 4px 1px #46464696; border-radius: 5px; min-height: 60vh; height: 100%;" data-count="8">
                                    <div class="card-header text-center" data-background-color="blue" data-header-animation="true">
                                        <h4 class="my-4">
                                            <b style="color:white;">` + (data[i]["Name"]) + `</b>
                                        </h4>
                                    </div>
                                    <div class="card-actions" style="padding-top: 60px;">
                                        <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kaldır" style="width: 0% !important;">
                                            <i onclick="deleteKategori(` + (data[i]["Id"]) + `)" class="deleteBtn material-icons">delete</i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle" style="width: 0% !important;">
                                            <i onclick="selectedToProjectId = ` + (data[i]["ProjectId"]) + `; kategoriDüzenle(` + (data[i]["Id"]) + `)" class="material-icons">edit</i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Ekle" style="width: 0% !important;">
                                            <i onclick="selectedToProjectId = ` + (data[i]["ProjectId"]) + `; gorevEkleKategori(` + (data[i]["Id"]) + `)" class="material-icons">add</i>
                                        </button>
                                    </div>
                                    <div id="divOuter` + (data[i]["Id"]) + `" class="droppable card-content px-0" style="height: 699px; padding-top:40px !important; overflow-y: auto; overflow-x: hidden;">

                                    </div>
                                </div>
                            </div>`;

                    $('#divMain .row').first().append(projects);
                }

                var projects = $(".customBoard");
                for (var i = 0; i < projects.length; i++) {
                    $(projects[i]).find("hr").last().remove()
                }



            },
            error: function (err) {
                swal("hata!");
            }
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetailTaskWithCategory", "DetailTask")',
            data: {},
            async: false,
            success: function (data) {
                console.log("ikinci", data);
                for (var i = 0; i < data.length; i++) {
                    var calisanKullanicilar = data[i]["Persons"];

                    var html = "";
                    for (var k = 0; k < calisanKullanicilar.length; k++) {
                        var calisanlar = '<span style="display: inline-block; background-color: #049cac; border: 1px solid #ffffff29;" class="label label-danger my-2 mx-1">' + calisanKullanicilar[k].Name + " " + calisanKullanicilar[k].Surname + '</span>';
                        html += calisanlar;
                    }

                    var stepHtml = `<div class="draggable px-3 pt-5" id="divBoardGorevler` + data[i]["CategoryId"] + `">
                                        <div class="card" style="background: #7b9fb9; color: white; box-shadow: 0px 0px 4px -1px #ffffff63; border-radius: 5px;">
                                            <div style="width: 100%;">
                                                <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kaldır">
                                                <i onclick="deleteToDo(` + (data[i]["Id"]) + `)" class="deleteBtn material-icons">delete</i>
                                                </button>
                                               <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle">
                                                <i onclick='updateTaskModal(`+ data[i]["Id"] + `)' class="material-icons">edit</i>
                                                <div class="ripple-container"></div></button>
                                            </div>
                                            <div style="clear: both;"></div>
                                            <div class="card-header card-header-icon" data-background-color="white" style="background:#19b6c9; padding: 0px; padding-left: 10px; padding-righT: 10px; margin-top: 18px;">
                                                <h4>
                                                    <small style="color: white; font-weight: bold; ">
                                                         ` + data[i]["Title"] + `
                                                    </small>
                                                </h4>
                                            </div>
                                            <div class="card-content" style="margin-top:60px;">
                                                <h5 class="card-title" style="color:white;">Bitiş Tarihi ` + data[i]["StrDate"] + `</h5>
                                                <input type="checkbox" name="" value=""> Checklists <br>
                                                <input type="text" style="display:none;" id="todoIdForUpdate"  name="" value="` + data[i]["Id"] + `"><br>
                                                <input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx" style="display:none;" />
                                                <button onclick="$('#fileUploader').click()" class="btn btn-secondary" style="background-color: #7fffd400;"><i class="fa fa-plus fa-lg"></i> Dosya Ekle</button>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats py-2">` + html + `
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="width: 90%; margin: 0px; padding: 0px; margin-left: 5%; border: 0.5px solid #c0c0c05c; ">`;

                    $("#divOuter" + data[i]["CategoryId"]).append(stepHtml);
                }
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }
    function getCategoriesbyid(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCategoriesByProjectId", "ToDoList")',
            data: {
                "_id":id
            },
            async: false,
            success: function (data) {
                console.log("birinci", data);
                for (var i = 0; i < data.length; i++) {

                    projects = `<div class="customBoard col-md-3  id="customerBoardColor` + [i] + `"">
                                <div class="card" style="background: #486d89; color: white; box-shadow: 0px 0px 4px 1px #46464696; border-radius: 5px; min-height: 60vh; height: 100%;" data-count="8">
                                    <div class="card-header text-center" data-background-color="blue" data-header-animation="true">
                                        <h4 class="my-4">
                                            <b style="color:white;">` + (data[i]["Name"]) + `</b>
                                        </h4>
                                    </div>
                                    <div class="card-actions" style="padding-top: 60px;">
                                        <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kaldır" style="width: 0% !important;">
                                            <i onclick="deleteKategori(` + (data[i]["Id"]) + `)" class="deleteBtn material-icons">delete</i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle" style="width: 0% !important;">
                                            <i onclick="selectedToProjectId = ` + (data[i]["ProjectId"]) + `; kategoriDüzenle(` + (data[i]["Id"]) + `)" class="material-icons">edit</i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Ekle" style="width: 0% !important;">
                                            <i onclick="selectedToProjectId = ` + (data[i]["ProjectId"]) + `; gorevEkleKategori(` + (data[i]["Id"]) + `)" class="material-icons">add</i>
                                        </button>
                                    </div>
                                    <div id="divOuter` + (data[i]["Id"]) + `" class="droppable card-content px-0" style="height: 699px; padding-top:40px !important; overflow-y: auto; overflow-x: hidden;">

                                    </div>
                                </div>
                            </div>`;

                    $('#divMain .row').first().append(projects);
                }

                var projects = $(".customBoard");
                for (var i = 0; i < projects.length; i++) {
                    $(projects[i]).find("hr").last().remove()
                }



            },
            error: function (err) {
                swal("hata!");
            }
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetailTaskWithCategoryByProjectId", "DetailTask")',
            data: {
                "_id":id
            },
            async: false,
            success: function (data) {
                console.log("ikinci", data);
                for (var i = 0; i < data.length; i++) {
                    var calisanKullanicilar = data[i]["Persons"];

                    var html = "";
                    for (var k = 0; k < calisanKullanicilar.length; k++) {
                        var calisanlar = '<span style="display: inline-block; background-color: #049cac; border: 1px solid #ffffff29;" class="label label-danger my-2 mx-1">' + calisanKullanicilar[k].Name + " " + calisanKullanicilar[k].Surname + '</span>';
                        html += calisanlar;
                    }

                    var stepHtml = `<div class="draggable px-3 pt-5" id="divBoardGorevler` + data[i]["CategoryId"] + `">
                                        <div class="card" style="background: #7b9fb9; color: white; box-shadow: 0px 0px 4px -1px #ffffff63; border-radius: 5px;">
                                            <div style="width: 100%;">
                                                <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kaldır">
                                                <i onclick="deleteToDo(` + (data[i]["Id"]) + `)" class="deleteBtn material-icons">delete</i>
                                                </button>
                                               <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle">
                                                <i onclick='updateTaskModal(`+ data[i]["Id"] + `)' class="material-icons">edit</i>
                                                <div class="ripple-container"></div></button>
                                            </div>
                                            <div style="clear: both;"></div>
                                            <div class="card-header card-header-icon" data-background-color="white" style="background:#19b6c9; padding: 0px; padding-left: 10px; padding-righT: 10px; margin-top: 18px;">
                                                <h4>
                                                    <small style="color: white; font-weight: bold; ">
                                                         ` + data[i]["Title"] + `
                                                    </small>
                                                </h4>
                                            </div>
                                            <div class="card-content" style="margin-top:60px;">
                                                <h5 class="card-title" style="color:white;">Bitiş Tarihi ` + data[i]["StrDate"] + `</h5>
                                                <input type="checkbox" name="" value=""> Checklists <br>
                                                <input type="text" style="display:none;" id="todoIdForUpdate"  name="" value="` + data[i]["Id"] + `"><br>
                                                <input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx" style="display:none;" />
                                                <button onclick="$('#fileUploader').click()" class="btn btn-secondary" style="background-color: #7fffd400;"><i class="fa fa-plus fa-lg"></i> Dosya Ekle</button>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats py-2">` + html + `
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="width: 90%; margin: 0px; padding: 0px; margin-left: 5%; border: 0.5px solid #c0c0c05c; ">`;

                    $("#divOuter" + data[i]["CategoryId"]).append(stepHtml);
                }
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }
    function saveKategori() {
        var name = $('#kategoriTitle').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveKategori", "ToDoList")',
            data: {
                "_name":name
            },
            success: function (data) {
                swal("kayıt başarılı!");
                window.location.reload();
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }

    function updateKategori() {
        var name = $('#updateKategoriTitle').val();
        var id = $('#modalKategriDüzenleProjeId').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateKategori", "ToDoList")',
            data: {
                "_name": name,
                 "_id":id
            },
            success: function (data) {
                swal("düzenlendi!");
               window.location.reload();
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }

    function gorevEkleModal() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllToDoUser", "ToDoList")',
            data: {
            },
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    //$("#divGorevEkleCalisanSecSelect select option[value='" + data[i]["Id"] + "']").attr("selected", "selected");
                    html += '<option value="' + data[i]["Id"] + '">' + data[i]["Name"] +" "+ data[i]["Surname"] +  '</option>';
                }
                $("#divGorevEkleCalisanSecSelect select").html(html);
                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();
            },
            error: function (err) {
                swal("hata!");
            }
        });
        $('#gorevEkleModal').modal('show');
    }

    function gorevEkleKategori(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllToDoUser", "ToDoList")',
            data: {

            },
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    //$("#divGorevEkleCalisanSecSelect select option[value='" + data[i]["Id"] + "']").attr("selected", "selected");
                    html += '<option value="' + data[i]["Id"] + '">' + data[i]["Name"] +" "+ data[i]["Surname"] +  '</option>';
                }
                $("#divKategoriGorevEkleCalisanSecSelect select").html(html);
                $("#kategoriGorevEkleProjeId").val(id);
                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();
            },
            error: function (err) {
                swal("hata!");
            }
        });
        $('#kategoriGorevEkleModal').modal('show');
    }


    function savekategoriGorev(id) {
        var catId = $('#kategoriGorevEkleProjeId').val();
        var todoName = $('#kategoriGorevName').val();
        var todoEndDate = $('#kategoriGorevEndDate').val();
        var todoUsers = $('#divGorevEkleCalisanSecSelect select').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveCategoryStep", "ToDoList")',
            data: {
                "_catId": catId,
                "_projectId": selectedToProjectId,
                "_todoName": todoName,
                "_todoEndDate": todoEndDate,
                "_todoUsers":todoUsers
            },
            success: function (data) {
                $('#gorevEkleModal2').modal('hide');
                swal("kayıt başarılı!");
                window.location.reload();
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }

    function gorevEkleKategori(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllToDoUser", "ToDoList")',
            data: {

            },
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    //$("#divGorevEkleCalisanSecSelect select option[value='" + data[i]["Id"] + "']").attr("selected", "selected");
                    html += '<option value="' + data[i]["Id"] + '">' + data[i]["Name"] +" "+ data[i]["Surname"] +  '</option>';
                }
                $("#divKategoriGorevEkleCalisanSecSelect select").html(html);
                $("#kategoriGorevEkleProjeId").val(id);
                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();
            },
            error: function (err) {
                swal("hata!");
            }
        });
        $('#kategoriGorevEkleModal').modal('show');
    }

    function gorevEkleModal2(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllToDoUser", "ToDoList")',
            data: {
            },
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    //$("#divGorevEkleCalisanSecSelect select option[value='" + data[i]["Id"] + "']").attr("selected", "selected");
                    html += '<option value="' + data[i]["Id"] + '">' + data[i]["Name"] +" "+ data[i]["Surname"] +  '</option>';
                }
                $("#divGorevDüzenleCalisanSecSelect select").html(html);
                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();
            },
            error: function (err) {
            }
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetToDoById", "ToDoList")',
            data: {
                "_todoId": id
            },
            success: function (data) {

                var persons = data[0].Persons;

                for (var i = 0; i < persons.length; i++) {
                    $("#divGorevDüzenleCalisanSecSelect select option[value='" + persons[i].Id + "']").attr("selected", "selected");
                }

                $('#düzenletodoEndDate').val(data[0].StrDate);
                $('#düzenletodoName').val(data[0].Detail);
                $('#düzenletodoId').val(data[0].Id);

                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();
            },
            error: function (err) {

            }
        });

        $('#gorevEkleModal2').modal('show');
    }

    function getCategoryDetails(id) {
        fillPanobyid(id);
        getCategoriesbyid(id);
         @*$.ajax({
            type: "POST",
            url: '@Url.Action("GetCategoriesById", "ToDoList")',
             data: {
                 "_id":id
             },
            async: false,
            success: function (data) {
                console.log("üç", data);
                $('#divMain .row').first().html("");
                for (var i = 0; i < data.length; i++) {

                    projects = `<div class="customBoard col-md-3  id="customerBoardColor` + [i] + `"">
                                <div class="card" style="background: #486d89; color: white; box-shadow: 0px 0px 4px 1px #46464696; border-radius: 5px; min-height: 60vh; height: 100%;" data-count="8">
                                    <div class="card-header text-center" data-background-color="blue" data-header-animation="true">
                                        <h4 class="my-4">
                                            <b style="color:white;">` + (data[i]["Name"]) + `</b>
                                        </h4>
                                    </div>
                                    <div class="card-actions" style="padding-top: 60px;">
                                        <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kaldır" style="width: 0% !important;">
                                            <i onclick="deleteKategori(` + (data[i]["Id"]) + `)" class="deleteBtn material-icons">delete</i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle" style="width: 0% !important;">
                                            <i onclick="selectedToProjectId = ` + (data[i]["ProjectId"]) + `; kategoriDüzenle(` + (data[i]["Id"]) + `)" class="material-icons">edit</i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Ekle" style="width: 0% !important;">
                                            <i onclick="selectedToProjectId = ` + (data[i]["ProjectId"]) + `; gorevEkleKategori(` + (data[i]["Id"]) + `)" class="material-icons">add</i>
                                        </button>
                                    </div>
                                    <div id="divOuter` + (data[i]["Id"]) + `" class="droppable card-content px-0" style="height: 699px; padding-top:40px !important; overflow-y: auto; overflow-x: hidden;">

                                    </div>
                                </div>
                            </div>`;

                    $('#divMain .row').first().append(projects);
                }

                var projects = $(".customBoard");
                for (var i = 0; i < projects.length; i++) {
                    $(projects[i]).find("hr").last().remove()
                }



            },
            error: function (err) {
                swal("hata!");
            }
        });

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetailTaskWithCategory", "DetailTask")',
            data: {
                "_id":id
            },
            async: false,
            success: function (data) {
                console.log("dört", data);
                for (var i = 0; i < data.length; i++) {
                    var calisanKullanicilar = data[i]["Persons"];

                    var html = "";
                    for (var k = 0; k < calisanKullanicilar.length; k++) {
                        var calisanlar = '<span style="display: inline-block; background-color: #049cac; border: 1px solid #ffffff29;" class="label label-danger my-2 mx-1">' + calisanKullanicilar[k].Name + " " + calisanKullanicilar[k].Surname + '</span>';
                        html += calisanlar;
                    }

                    var stepHtml = `<div class="draggable px-3 pt-5" id="divBoardGorevler` + data[i]["CategoryId"] + `">
                                        <div class="card" style="background: #7b9fb9; color: white; box-shadow: 0px 0px 4px -1px #ffffff63; border-radius: 5px;">
                                            <div style="width: 100%;">
                                                <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kaldır">
                                                <i onclick="deleteToDo(` + (data[i]["Id"]) + `)" class="deleteBtn material-icons">delete</i>
                                                </button>
                                               <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle">
                                                <i onclick='updateTaskModal(`+ data[i]["Id"] + `)' class="material-icons">edit</i>
                                                <div class="ripple-container"></div></button>
                                            </div>
                                            <div style="clear: both;"></div>
                                            <div class="card-header card-header-icon" data-background-color="white" style="background:#19b6c9; padding: 0px; padding-left: 10px; padding-righT: 10px; margin-top: 18px;">
                                                <h4>
                                                    <small style="color: white; font-weight: bold; ">
                                                         ` + data[i]["Title"] + `
                                                    </small>
                                                </h4>
                                            </div>
                                            <div class="card-content" style="margin-top:60px;">
                                                <h5 class="card-title" style="color:white;">Bitiş Tarihi ` + data[i]["StrDate"] + `</h5>
                                                <input type="checkbox" name="" value=""> Checklists <br>
                                                <input type="text" style="display:none;" id="todoIdForUpdate"  name="" value="` + data[i]["Id"] + `"><br>
                                                <input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx" style="display:none;" />
                                                <button onclick="$('#fileUploader').click()" class="btn btn-secondary" style="background-color: #7fffd400;"><i class="fa fa-plus fa-lg"></i> Dosya Ekle</button>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats py-2">` + html + `
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="width: 90%; margin: 0px; padding: 0px; margin-left: 5%; border: 0.5px solid #c0c0c05c; ">`;

                    $("#divOuter" + data[i]["CategoryId"]).append(stepHtml);
                }
            },
            error: function (err) {
                swal("hata!");
            }
        });*@
    }
    function fillPanobyid(id) {
        $('#divMain').html('<div class="row mt-5"></div>');

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllDetailTaskProjectById", "DetailTask")',
            data: {
                "_id":id
            },
            async: false,
            success: function (data) {
                console.log("birinci", data);
                for (var i = 0; i < data.length; i++) {

                    projects = `<div class="customBoard col-md-3  id="customerBoardColor` + [i] + `"">
                                <div class="card" style="background: #486d89; color: white; box-shadow: 0px 0px 4px 1px #46464696; border-radius: 5px; min-height: 60vh; height: 100%;" data-count="8">
                                    <div class="card-header text-center" data-background-color="blue" data-header-animation="true">
                                        <h4 class="my-4">
                                            <b style="color:white;">` + (data[i]["Name"]) + `</b>
                                        </h4>
                                    </div>
                                    <div class="card-actions" style="padding-top: 60px;">
                                        <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kaldır" style="width: 0% !important;">
                                            <i onclick="deletePano(` + (data[i]["Id"]) + `)" class="deleteBtn material-icons">delete</i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle" style="width: 0% !important;">
                                            <i onclick="selectedToProjectId = ` + (data[i]["Id"]) + `; gorevEkleModal(` + (data[i]["Id"]) + `)" class="material-icons">edit</i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Ekle" style="width: 0% !important;">
                                            <i onclick="selectedToProjectId = ` + (data[i]["Id"]) + `; gorevEkleModal(` + (data[i]["Id"]) + `)" class="material-icons">add</i>
                                        </button>
                                    </div>
                                    <div id="divOuter0" class="droppable card-content px-0" style="height: 699px; padding-top:40px !important; overflow-y: auto; overflow-x: hidden;">

                                    </div>
                                </div>
                            </div>`;

                    $('#divMain .row').first().append(projects);
                }

                var projects = $(".customBoard");
                for (var i = 0; i < projects.length; i++) {
                    $(projects[i]).find("hr").last().remove()
                }



            },
            error: function (err) {
                swal("hata!");
            }
        });


        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetailTaskWithProjectById", "DetailTask")',
            data: {
                "_id":id
            },
            async: false,
            success: function (data) {
                console.log("ikinci", data);
                for (var i = 0; i < data.length; i++) {
                    var calisanKullanicilar = data[i]["Persons"];

                    var html = "";
                    for (var k = 0; k < calisanKullanicilar.length; k++) {
                        var calisanlar = '<span style="display: inline-block; background-color: #049cac; border: 1px solid #ffffff29;" class="label label-danger my-2 mx-1">' + calisanKullanicilar[k].Name + " " + calisanKullanicilar[k].Surname + '</span>';
                        html += calisanlar;
                    }

                    var stepHtml = `<div class="draggable px-3 pt-5" id="divBoardGorevler` + data[i]["Id"] + `">
                                        <div class="card" style="background: #7b9fb9; color: white; box-shadow: 0px 0px 4px -1px #ffffff63; border-radius: 5px;">
                                            <div style="width: 100%;">
                                                <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kaldır">
                                                <i onclick="deleteToDo(` + (data[i]["Id"]) + `)" class="deleteBtn material-icons">delete</i>
                                                </button>
                                               <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle">
                                                <i onclick='updateTaskModal(`+ data[i]["Id"] + `)' class="material-icons">edit</i>
                                                <div class="ripple-container"></div></button>
                                            </div>
                                            <div style="clear: both;"></div>
                                            <div class="card-header card-header-icon" data-background-color="white" style="background:#19b6c9; padding: 0px; padding-left: 10px; padding-righT: 10px; margin-top: 18px;">
                                                <h4>
                                                    <small style="color: white; font-weight: bold; ">
                                                         ` + data[i]["Title"] + `
                                                    </small>
                                                </h4>
                                            </div>
                                            <div class="card-content" style="margin-top:60px;">
                                                <h5 class="card-title" style="color:white;">Bitiş Tarihi ` + data[i]["StrDate"] + `</h5>
                                                <input type="checkbox" name="" value=""> Checklists <br>
                                                <input type="text" style="display:none;" id="todoIdForUpdate"  name="" value="` + data[i]["Id"] + `"><br>
                                                <input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx" style="display:none;" />
                                                <button onclick="$('#fileUploader').click()" class="btn btn-secondary" style="background-color: #7fffd400;"><i class="fa fa-plus fa-lg"></i> Dosya Ekle</button>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats py-2">` + html + `
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="width: 90%; margin: 0px; padding: 0px; margin-left: 5%; border: 0.5px solid #c0c0c05c; ">`;

                    $("#divOuter" + data[i]["CategoryId"]).append(stepHtml);
                }
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }
    function fillPano() {
        $('#divMain').html('<div class="row mt-5"></div>');

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllDetailTaskProject", "DetailTask")',
            data: {},
            async: false,
            success: function (data) {
                console.log("birinci", data);
                for (var i = 0; i < data.length; i++) {

                    projects = `<div class="customBoard col-md-3  id="customerBoardColor` + data[i]["Id"] + `"">
                                <div class="card" style="background: #486d89; color: white; box-shadow: 0px 0px 4px 1px #46464696; border-radius: 5px; min-height: 60vh; height: 100%;" data-count="8">
                                    <div class="card-header text-center" data-background-color="blue" data-header-animation="true">
                                        <h4 class="my-4">
                                            <b style="color:white;">` + (data[i]["Name"]) + `</b>
                                        </h4>
                                    </div>
                                    <div class="card-actions" style="padding-top: 60px;">
                                        <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kaldır" style="width: 0% !important;">
                                            <i onclick="deletePano(` + (data[i]["Id"]) + `)" class="deleteBtn material-icons">delete</i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle" style="width: 0% !important;">
                                            <i onclick="selectedToProjectId = ` + (data[i]["Id"]) + `; gorevEkleModal(` + (data[i]["Id"]) + `)" class="material-icons">edit</i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Ekle" style="width: 0% !important;">
                                            <i onclick="selectedToProjectId = ` + (data[i]["Id"]) + `; gorevEkleModal(` + (data[i]["Id"]) + `)" class="material-icons">add</i>
                                        </button>
                                    </div>
                                    <div id="divOuter` + data[i]["Id"] + `" class="droppable card-content px-0" style="height: 699px; padding-top:40px !important; overflow-y: auto; overflow-x: hidden;">

                                    </div>
                                </div>
                            </div>`;

                    $('#divMain .row').first().append(projects);
                }

                var projects = $(".customBoard");
                for (var i = 0; i < projects.length; i++) {
                    $(projects[i]).find("hr").last().remove()
                }



            },
            error: function (err) {
                swal("hata!");
            }
        });


        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetailTaskWithProject", "DetailTask")',
            data: {},
            async: false,
            success: function (data) {
                console.log("ikinci", data);
                for (var i = 0; i < data.length; i++) {
                    var calisanKullanicilar = data[i]["Persons"];
                    var html = "";


                    var stepHtml = "";
                    if (data[i]["Title"] == "Category") {
                        stepHtml = `<div class="draggable " id="divBoardGorevler` + data[i]["Id"] + `">

                                            <div style="clear: both;"></div>
                                            <div class="card-header card-header-icon mb-5" data-background-color="white" style="background:#19b6c9; padding: 0px; padding-left: 10px; padding-righT: 10px; margin-top: 18px;">
                                               <button type="button" onclick="getCategoryDetails(` + data[i]["ProjectId"] + `)" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kategoriye git">
                                               <h4>
                                                    <small style="color: white; font-weight: bold; ">
                                                         ` + data[i]["Detail"] + `
                                                    </small>
                                                </h4>
                                                </button>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats py-2">` + html + `
                                                </div>
                                        </div>
                                    </div>
                                    <hr style="width: 90%; margin: 0px; padding: 0px; margin-left: 5%; border: 0.5px solid #c0c0c05c; ">`;
                    }
                    else {
                        if (calisanKullanicilar != null && calisanKullanicilar != undefined) {
                            
                            for (var k = 0; k < calisanKullanicilar.length; k++) {
                                var calisanlar = '<span style="display: inline-block; background-color: #049cac; border: 1px solid #ffffff29;" class="label label-danger my-2 mx-1">' + calisanKullanicilar[k].Name + " " + calisanKullanicilar[k].Surname + '</span>';
                                html += calisanlar;
                            }
                        }
                        stepHtml = `<div class="draggable px-3 pt-5" id="divBoardGorevler` + data[i]["Id"] + `">
                                        <div class="card" style="background: #7b9fb9; color: white; box-shadow: 0px 0px 4px -1px #ffffff63; border-radius: 5px;">
                                            <div style="width: 100%;">
                                                <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kaldır">
                                                <i onclick="deleteToDo(` + (data[i]["Id"]) + `)" class="deleteBtn material-icons">delete</i>
                                                </button>
                                               <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle">
                                                <i onclick='updateTaskModal(`+ data[i]["Id"] + `)' class="material-icons">edit</i>
                                                <div class="ripple-container"></div></button>
                                            </div>
                                            <div style="clear: both;"></div>
                                            <div class="card-header card-header-icon" data-background-color="white" style="background:#19b6c9; padding: 0px; padding-left: 10px; padding-righT: 10px; margin-top: 18px;">
                                                <h4>
                                                    <small style="color: white; font-weight: bold; ">
                                                         ` + data[i]["Title"] + `
                                                    </small>
                                                </h4>
                                            </div>
                                            <div class="card-content" style="margin-top:60px;">
                                                <h5 class="card-title" style="color:white;">Bitiş Tarihi ` + data[i]["StrDate"] + `</h5>
                                                <input type="checkbox" name="" value=""> Checklists <br>
                                                <input type="text" style="display:none;" id="todoIdForUpdate"  name="" value="` + data[i]["Id"] + `"><br>
                                                <input type="file" id="fileUploader" name="fileUploader" accept=".xls, .xlsx" style="display:none;" />
                                                <button onclick="$('#fileUploader').click()" class="btn btn-secondary" style="background-color: #7fffd400;"><i class="fa fa-plus fa-lg"></i> Dosya Ekle</button>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats py-2">` + html + `
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="width: 90%; margin: 0px; padding: 0px; margin-left: 5%; border: 0.5px solid #c0c0c05c; ">`;
                    }

                    $("#divOuter" + data[i]["ProjectId"]).append(stepHtml);
                }
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }
    function saveTodo() {
        var todoName = $('#todoName').val();
        var todoEndDate = $('#todoEndDate').val();
        var todoUsers = $('#divGorevEkleCalisanSecSelect select').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveToDo", "ToDoList")',
            data: {
                "_projectId": selectedToProjectId,
                "_todoName": todoName,
                "_todoEndDate": todoEndDate,
                "_todoUsers":todoUsers
            },
            success: function (data) {
                $('#gorevEkleModal2').modal('hide');
                swal("kayıt başarılı!");
                fillPano(); //getCategories();
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }
    function updateTodo() {
        var todoName = $('#düzenletodoName').val();
        var todoEndDate = $('#düzenletodoEndDate').val();
        var todoId = $('#todoIdForUpdate').val();
        var todoUsers = $('#divGorevDüzenleCalisanSecSelect select').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateToDo", "ToDoList")',
            data: {
                "_projectId": selectedToProjectId,
                "_todoId": todoId,
                "_todoName": todoName,
                "_todoEndDate": todoEndDate,
                "_todoUsers":todoUsers
            },
            success: function (data) {
                $('#gorevEkleModal2').modal('hide');
                swal("kayıt başarılı!");
                fillPano(); //getCategories();
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }
    function deleteToDo(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteQuickTask", "QuickTask")',
            data: {
                "_todoId": id
            },
            success: function (data) {
                swal("silindi!");
                fillPano();
                //getCategories();
            },
            error: function (err) {
                swal("hata!");
            }
        });
    }

    function updateTask() {
        var title = $('#gorevGetirTitleUpdate').val();
        var detail = $('#gorevGetirDetailUpdate').val();
        var EndDate = $('#gorevGetirEndDateUpdate').val();
        var Id = $('#gorevGetirIdUpdate').val();
        var Users = $('#getCalisanUpdateSecSelect select').val();
        var Tasks = $('#getPreTaskUpdateSecSelect select').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateTask", "DetailTask")',
            data: {
                "_todoId": Id,
                "_todoTitle": title,
                "_todoDetail": detail,
                "_todoEndDate": EndDate,
                "_todoUsers":Users,
                "_todoTasks":Tasks
            },
            success: function (data) {
                swal("güncelleme başarılı!");
                 $('#gorevUpdateModal').modal('hide');
                fillPano();

            },
            error: function (err) {
                swal("hata!");
            }
        });
    }
    function updateTaskModal(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllDetailTaskByProjectId", "DetailTask")',
            data: {
            },
            success: function (data) {
                console.log(data);
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="' + data[i]["Id"] + '">' + data[i]["Title"]+'</option>';
                }
                $("#getPreTaskUpdateSecSelect select").html(html);
                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();
            },
            error: function (err) {
            }
        });
       /* $.ajax({
            type: "POST",
            url:
          /*  data: {
                "_taskId":id
            },
            success: function (data) {
                var html = "";
                if (data[0].["PreTaskId"] != 0) {
                    html += '<option value="' + data[i]["Id"] + '">' + data[i]["Name"] +" "+ data[i]["Surname"] +  '</option>';
                }
                $("#getPreTaskSecSelect select").html(html);
                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();
            },
            error: function (err) {
            }
        });*/
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllToDoUser", "ToDoList")',
            data: {
            },
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += '<option value="' + data[i]["Id"] + '">' + data[i]["Name"] +" "+ data[i]["Surname"] +  '</option>';
                }
                $("#getCalisanUpdateSecSelect select").html(html);
                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();
            },
            error: function (err) {
            }
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetQuickTaskById", "QuickTask")',
            data: {
                "_taskId": id
            },
            success: function (data) {
                debugger;
                for (var i = 0; i < data[0].Persons.length; i++) {
                    $("#getCalisanUpdateSecSelect select option[value='" + data[0].Persons[i].Id + "']").attr("selected", "selected");
                }
                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();
                console.log(data);
                $('#gorevGetirIdUpdate').val(data[0].Id);
                $('#gorevGetirTitleUpdate').val(data[0].Title);
                $('#gorevGetirDetailUpdate').val(data[0].Detail);
                $('#gorevGetirEndDateUpdate').val(data[0].StrDate);

                $('#gorevUpdateModal').modal('show');
            },
            error: function (err) {
                swal("hata!");
            }
        });

    }
</script>