@{
    ViewBag.Title = "Panel";
    ViewBag.ActivePageName = "Panel";
}
@model List<PMPCore.Controllers.HomeController.HomeViewModel>

@using PMPDAL.Entities;
@{
    var activePerson = ViewBag.ActivePerson as Person;
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</head>
<style>
    .ps-scrollbar-y-rail {
        top: 30px !important;
        right: 0px !important;
        height: 900px !important;
    }

    .ps-scrollbar-x-rail {
        left: 0px;
        bottom: -71px;
    }

    .row {
        color: black;
    }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #00bcd4 !important;
    }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #00bcd4 !important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #00bcd4;
        border: 1px solid #00bcd4;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
        color: white;
        font-family: sans-serif;
        font-size: 11px;
        border: 1px solid white;
        font-weight: bold;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: white;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        margin-right: 3px;
        color: white;
        font-size: 15px;
        /* margin-top: 5px; */
        float: left;
        margin-top: -1px;
    }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
            color: red !important;
        }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid #00bcd4 1.4px;
        outline: 0;
        max-height: 75px !important;
        overflow-x: auto !important;
    }
</style>
<!-- bildirim MODAL -->
<!-- bildirim MODAL bitiş -->
<div class="container-fluid">
    <div class="row">
        @{
            foreach (var item in Model.OrderBy(x => x.Id).ToList())
            {
                if (activePerson.IsAdmin == 0)
                {

                    <div class="col-md-4">
                        <div class="card card-pricing card-raised" style="background: #486d89; border-radius: 10px;">
                            @{ if (@item.Kalan > 0)
                                {
                                    <div class="" style="margin-top: -15px;margin-left: -15px;float:left;color:white;width: 40px;height: 40px;background-color: #e62929;border-radius: 25px;">
                                        <table style="width: 100%;height: 100%;font-size:24px">
                                            <tbody><tr><td>@item.Kalan</td></tr></tbody>
                                        </table>
                                    </div>
                                }
                            }
                            <div class="content">

                                <br />
                                <h6 style="display: block ; color:white ; font-size:20px;" class="category">@item.AssigneeUserName</h6>
                                <div class="icon icon-info">
                                    <i class="material-icons">timeline</i>
                                </div>
                                <h3 class="card-title" style="color:white;">
                                    @item.Name<br>
                                    <hr />
                                    <small style="vertical-align:middle; color:white">@item.ShortName</small>
                                </h3>
                                <p class="card-description" style="color:white;">
                                    @item.Description
                                </p>
                                <a onclick="changeSelectedProject(@item.Id)" href="javascript:;" class="btn btn-info btn-round">Projeyi Seç</a>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <div class="col-md-4">
                        <div class="card card-pricing card-raised" style="background: #486d89; border-radius: 10px;">
                            @{ if (@item.Kalan > 0)
                                {
                                    <div class="" style="margin-top: -15px;margin-left: -15px;float:left;color:white;width: 40px;height: 40px;background-color: #e62929;border-radius: 25px;">
                                        <table style="width: 100%;height: 100%;font-size:24px">
                                            <tbody><tr><td>@item.Kalan</td></tr></tbody>
                                        </table>
                                    </div>
                                }
                            }
                            <div class="content">

                                <div><i onclick="deleteProje(@item.Id);" class="fa fa-trash actionIcon" style="float: right; color:white; font-size: 20px; margin-top: -1px;"></i></div>
                                <div><i onclick="prepareProjeUpdatePanel(@item.Id);" class="fa fa-edit actionIcon" style="float: right; color:#10bad0; margin-right: 5px; font-size: 20px;"></i></div>

                                <br />
                                <h6 style="display: block; color:white; font-size:20px;" class="category">@item.AssigneeUserName</h6>
                                <div class="icon icon-info">
                                    <i class="material-icons">timeline</i>
                                </div>
                                <h3 class="card-title" style="color:white;">
                                    @item.Name<br>
                                    <hr />
                                    <small style="vertical-align:middle; color:white;">@item.ShortName</small>
                                </h3>
                                <p style="color : white;" class="card-description">
                                    @item.Description
                                </p>
                                <a onclick="changeSelectedProject(@item.Id)" href="javascript:;" class="btn btn-info btn-round">Projeyi Seç</a>
                            </div>
                        </div>
                    </div>

                }

            }
            if (activePerson.IsAdmin == 1)
            {
                <button class="btn btn-info btn-round btn-fab" rel="tooltip" data-placement="top" title=""
                        data-original-title="Proje Ekle" data-toggle="modal" data-target="#projeOlusturModal"
                        style="position: relative; margin-top: 175px; margin-left: 20px;">
                    <i class="material-icons">add</i>
                </button>
            }

        }

    </div>
    <div id='containerPanel' style="width: 20%;margin-right: 0px;margin-bottom: 50px;position: fixed;bottom: 0;right: 0;z-index: 984 !important;">
    </div>
</div>

<!-- PROJE EKLE MODAL -->
<div class="modal fade" id="projeOlusturModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button onclick="" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>

                    <div class="header header-info text-center">
                        <h4 class="card-title">Proje Oluştur</h4>
                        <p class="description text-center" style="color:white;">
                            Buradan
                            proje oluşturabilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-3 ml-0">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <input id="modalProjeEkleProjeId" value="0" style="display: none;" />
                                    <input id="projectTitle" type="text" class="form-control" style="color:black!important;" placeholder="Proje adını giriniz.">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">code</i>
                                </span>
                                <div class="form-group is-empty">
                                    <input id="projectCode" type="text" class="form-control" style="color:black!important;" placeholder="Proje kod adını giriniz.">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">short_text</i>
                                </span>
                                <div class="form-group is-empty">
                                    <input id="projectShortName" type="text" class="form-control" style="color:black!important;" placeholder="Proje kısa adını giriniz.">
                                </div>
                            </div>
                            <div class="input-group mt-4">
                                <span class="input-group-addon">
                                    <i class="material-icons">description</i>
                                </span>
                                <div class="form-group is-empty">
                                    <textarea id="projectDesciption" class="form-control" style="color:black !important;" placeholder="Açıklama" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="input-group mt-5">
                                <span class="input-group-addon">
                                    <i class="material-icons">person</i>
                                </span>

                                <div id="divProjeEkleProjectLeader" class="form-group is-empty">

                                    <select class="selectpicker" data-style="btn btn-info btn-round" title="Proje Lideri Seçiniz..." data-size="7">
                                        <option disabled selected>PROJE LİDERİ SEÇİNİZ</option>
                                        <option value="2">Foobar</option>
                                        <option value="3">Is great</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">people</i>
                                </span>

                                <div id="divProjeEkleYetkiliKisiler" class="form-group is-empty">
                                    <select class="form-control select2" multiple="multiple" data-placeholder="Çalışanları Seç" style="width: 100%;"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer text-center m-5 my-auto py-4" style="border-top: 1px solid #f1efef;">
                    <button onclick="saveProject()" class="btn btn-info btn-round"><i class="material-icons">save_alt</i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PROJE EKLE MODAL bitiş -->

<script>

           $(document).ready(function () {
               getAllKullanici();
               getNotification();
       });


    function getAllKullanici() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllKullanici", "Gorev")',
            data: {},
            success: function (data) {
                $("#divProjeEkleProjectLeader select").html('');
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += `<option value="` + data[i]["Id"] + `">` + data[i]["Name"] + `&nbsp` + data[i]["Surname"] + `</option>`;
                }

                $("#divProjeEkleProjectLeader select").html(html);

                $("#divProjeEkleYetkiliKisiler select").html(html);
                $('.selectpicker').selectpicker();
                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();
            },
            error: function (err) {
                swal("HATA!");
            }
        });
        }
        var counter = 0;
        var datatemp = [];

        function DeleteNotification(elem) {
            $(elem).parent().parent().parent().remove();

            var html = "<div><div class='notificationDiv card card-signup card-plain'><div class='modal-header'><button title='Projeye git!' onclick='changeSelectedProject("+allNotifications[0].ProjectId+")' type='button' style='margin-top: -35px !important;margin-right: 20px !important;' class='close' data-dismiss='modal' aria-hidden='true'><i class='fa fa-search'></i></button><button onclick='DeleteNotification(this)' type='button' style='margin-top: -35px !important;margin-right: 5px !important;' class='close' data-dismiss='modal' aria-hidden='true'><i class='material-icons'>clear</i></button><div class='header header-info text-center'><h4 class='card-title'><b>Hatırlatma</b> <i class='fa fa-exclamation' aria-hidden='true'></i></h4><p class='description text-center' style='color:white;'><b>" + allNotifications[0].ProjectName + "</b> adlı projenin <b>" + allNotifications[0].Name + "</b> adlı görevinin bitiş tarihine <b>" + allNotifications[0].Kalan + " gün </b> kaldı!</p></div></div></div></div>";
            $("#containerPanel").append(html);

            allNotifications.splice(0, 1);
        }
        function DeleteAllNotification() {
            $("#containerPanel").html("");
        }
        var allNotifications;

        function getNotification() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllNotification", "Gorev")',
                data: {},
                async: true,
                success: function (data) {
                    console.log(data);
                    var tempData = JSON.parse(JSON.stringify(data));

                    for (var i = 0; i < 3; i++) {
                        var html = "<div><div class='notificationDiv card card-signup card-plain'><div class='modal-header'><button title='Projeye git!' onclick='changeSelectedProject("+data[i].ProjectId+")' type='button' style='margin-top: -35px !important;margin-right: 20px !important;' class='close' data-dismiss='modal' aria-hidden='true'><i class='fa fa-search'></i></button><button onclick='DeleteNotification(this)' type='button' style='margin-top: -35px !important;margin-right: 5px !important;' class='close' data-dismiss='modal' aria-hidden='true'><i class='material-icons'>clear</i></button><div class='header header-info text-center'><h4 class='card-title'><b>Hatırlatma</b> <i class='fa fa-exclamation' aria-hidden='true'></i></h4><p class='description text-center' style='color:white;'><b>" + data[i].ProjectName + "</b> adlı projenin <b>" + data[i].Name + "</b> adlı görevinin bitiş tarihine <b>" + data[i].Kalan + " gün </b> kaldı!</p></div></div></div></div>";
                        $("#containerPanel").append(html);
                        tempData.splice(i, 1);
                    }

                    allNotifications = tempData;
                    var btn = "";
                    btn = "<button class='btn btn-info btn-round' style='position:fixed;bottom:0;float:right;right:0;' onclick='DeleteAllNotification()'>Tümünü Sil</button>";
                    $("#containerPanel").append(btn);
                },
                error: function (err) {
                    swal("HATA!");
                }
            });
        }


    function getKullaniciById(_kullaniciId) {
        var returnResult;
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetKullaniciById", "Project")',
            data: {
                "_kullaniciId": _kullaniciId
            },
            dataType: 'json',
            async: false,
            success: function (data) {
                returnResult = data;

            },
            error: function (err) {
                swal("HATA!");
            }
        });

        return returnResult;
    }



        function saveProject(_projectId) {
            var titleProject = $("#projectTitle").val();
            var code = $("#projectCode").val();
            var shortname = $("#projectShortName").val();
            var Description = $("#projectDesciption").val();
            var personId = $("#divProjeEkleProjectLeader select").val();
            var projectId = $("#modalProjeEkleProjeId").val();
            var projeKisi = $("#divProjeEkleYetkiliKisiler select").val()


            if (titleProject == "" || titleProject == null) {
                swal("Proje Adı Boş Geçilemez!");
                return;
            }
            if (code == "" || code == null) {
                swal("Proje Kodu Boş Geçilemez!");
                return;
            }
            if (shortname == "" || shortname == null) {
                swal("Proje Kısa Adı Boş Geçilemez!");
                return;
            }
            if (Description == "" || Description == null) {
                swal("Açıklama Boş Geçilemez!");
                return;
            }
            if (personId == "" || personId == null) {
                swal("Proje Lideri Boş Geçilemez!");
                return;
            }
            if (projeKisi == "" || projeKisi == null) {
                swal("Projede Çalışacaklar Boş Geçilemez!");
                return;
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveProject", "Project")',
                data: {
                    "_titleProject": titleProject,
                    "_code": code,
                    "_shortname": shortname,
                    "_description": Description,
                    "_personId": personId,
                    "_projectId": projectId,
                    "_projeKisi": projeKisi
                },
                success: function (data) {
                    swal("BAŞARILI!");
                    $('#modalProjeEkle').hide();

                    $("#projectTitle").val('');
                    $("#projectCode").val('');
                    $("#projectShortName").val('');
                    $("#projectDesciption").val('');
                    $('#modalProjeEkleProjeId').val('0');
                    $('#projeOlusturModal').modal('hide');

                    window.location.reload();
                },
                error: function (err) {
                    swal("HATA!");
                }
            });
        }

        function deleteProje(_projeId) {
            $.confirm({
                title: 'Uyarı!',
                content: 'Silmek istediğinize emin misiniz?',
                buttons: {
                    confirm: {
                        text: 'Evet',
                        btnClass: 'btn-blue',
                        action: function () {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("DeleteProje", "Project")',
                                data: {
                                    "_projeId": _projeId
                                },
                                success: function (data) {

                                    if (data == false) {
                                        swal("Proje silinirken bir hata oluştu!");
                                    }
                                    else {
                                        swal("Proje başarıyla silindi!");
                                        window.location.reload();
                                    }
                                },
                                error: function (err) {
                                    swal("HATA!");
                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'İptal',
                        action: function() {
                            return;
                        }
                    },
                }
            });

        }

        function getProjectPersonsByProjectId(_projectId) {
            var returnResult = null
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetProjectPersonsByProjectId", "Project")',
                async: false,
                data: {
                    "_projectId": _projectId
                },
                success: function (data) {
                    returnResult = data;
                }
            });

            return returnResult;
        }

        function prepareProjeUpdatePanel(_projeId) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetProjeById", "Project")',
                data: {
                    "_projeId": _projeId

                },
                success: function (data) {

                    $("#modalProjeEkleProjeId").val(_projeId);
                    $("#projectTitle").val(data["Name"]);
                    $("#projectCode").val(data["Code"]);
                    $("#projectShortName").val(data["ShortName"]);
                    $("#projectDesciption").val(data["Description"]);
                    $("#divProjeEkleProjectLeader select").val(data["ProjectLeader"]);

                    $("#projeOlusturModal").modal('show');
                    $('.selectpicker').selectpicker();
                    $('.selectpicker').selectpicker('refresh');

                    var projectPersons = getProjectPersonsByProjectId(_projeId);

                    for (var i = 0; i < projectPersons.length; i++) {
                        $("#divProjeEkleYetkiliKisiler select option[value='" + projectPersons[i]["PersonId"] + "']").attr("selected", "selected");
                    }

                    $("#divProjeEkleYetkiliKisiler select").select2('');
                },
                error: function (err) {
                    swal("HATA!");
                }
            });
        }
</script>
