@{
    ViewBag.Title = "İterasyon";
    ViewBag.ActivePageName = "İterasyon";
}

@using PMPDAL.Entities;
@using PMPDAL.Models;

@model BacklogViewModel

@{
    var activePerson = ViewBag.ActivePerson as Person;
    if (activePerson.IsAdmin == 0)
    {

        @Html.Raw("<script>window.location = '" + @Url.Action("Index", "Home") + "';</script>")
    }
}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    </head>
<style>
    .ps-scrollbar-y-rail {
        top: 30px!important;
        right: 0px!important;
        height: 900px !important;
    }
    .ps-scrollbar-x-rail {
        left: 0px;
        bottom: -71px;
    }
    .row{
        color:black;
    }
    .checkbox label, .radio label, label, .label-on-left, .label-on-right {
        color: white;
    }

    .pagination > li > a, .pagination > li > span {
        color: white;
    }

    th {
        font-size: 18px;
    }

    td {
        font-size: 18px;
    }

    .table > tbody > tr {
        background-color: #07a0b1;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #54bcc8;
    }

    .select2-container--default .select2-results > .select2-results__options {
        background-color: #00bcd4 !important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #00bcd4;
        border: 1px solid #00bcd4;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
        color: white;
        font-family: sans-serif;
        font-size: 11px;
        border: 1px solid white;
        font-weight: bold;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #999;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        margin-right: 3px;
        color: white;
        font-size: 15px;
        /* margin-top: 5px; */
        float: left;
        margin-top: -1px;
    }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
            color: red !important;
        }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid #00bcd4 1.4px;
        outline: 0;
        max-height: 75px !important;
        overflow-x: auto !important;
    }
</style>


<div class="container-fluid">
    <!-- YENİ SPRINT EKLE MODAL -->
    <div class="modal fade" id="modalSprintEkle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                        <div class="header header-info text-center">
                            <h4 class="card-title">Sprint Oluştur</h4>
                            <p class="description text-center" style="color:white;">
                                Buradan sprint oluşturabilirsiniz.
                            </p>
                        </div>
                    </div>

                    <input id="modalSprintEkleSprintId" value="0" style="display: none;" />
                    <div class="modal-body mr-3 ml-0">
                        <form class="form" method="" action="">
                            <div class="card-content py-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">text_format</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input id="titleSprint" type="text" class="form-control" style="color:black!important;" placeholder="Başlık giriniz.">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">calendar_today</i>
                                    </span>
                                    <div class="form-group">
                                        <label class="label-control">
                                            Başlangıç Tarihi
                                        </label>
                                        <input id="StartDatePicker" style="color: black !important;" type="text" class="form-control datepicker" value="@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">calendar_today</i>
                                    </span>
                                    <div class="form-group">
                                        <label class="label-control">
                                            Bitiş Tarihi
                                        </label>
                                        <input id="EndDatePicker" style="color:black!important;" type="text" class="form-control datepicker" value="@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="input-group mt-4">
                                    <span class="input-group-addon">
                                        <i class="material-icons">description</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <textarea id="SprintDescription" class="form-control" style="color:black !important;" placeholder="Açıklama giriniz." rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer text-center m-5 my-auto py-4" style="border-top: 1px solid #f1efef;">
                    <button onclick="saveSprint()" class="btn btn-info btn-round"><i class="material-icons">save_alt</i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <!-- YENİ SPRINT EKLE MODAL END -->


    <div class="col-md-12" style="margin-top:20px">
        <div class="card" style="background-color:#486d89 ; color: white; box-shadow: 0px 0px 9px 2px #48484896; border-radius: 10px;">
            <div class="card-header card-header-icon" data-background-color="blue" style="cursor:pointer;" data-toggle="modal" data-target="#modalSprintEkle">
                <h4 id="btnSprintEkleModal" onclick="$('#modalSprintEkleSprintId').val('0'); $('#titleSprint').val(''); $('#StartDatePicker').val('@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")'); $('#EndDatePicker').val('@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")'); $('#SprintDescription').val(''); $('#modalSprintEkle').hide();"><small><b style="color:white;">YENİ İTERASYON EKLE</b></small></h4>
            </div>
            <div class="card-content">
                <h4 class="card-title" style="color:white;"></h4>
            </div>
            <div class="col-md-12">
                @{
                    var divId = 0;
                    foreach (var item in Model.SprintList.OrderBy(x => x.Id).ToList())
                    {
                        var detailIterateList = Model.Details.Where(x => x.SprintId == item.Id).ToList();
                        var isDone = detailIterateList.Count == 0 ? false : (detailIterateList.Count == detailIterateList.Where(x => x.StepStatus == 3).ToList().Count());
                        divId++;
                        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="@Html.Raw("#collapse"+divId)" aria-expanded="false" aria-controls="collapseOne">
                                        <h2 class="panel-title" style="font-size:20px;">
                                            @Html.Raw(item.Status == 3 ? "<font color=\"#53f442\";>(Tamamlandı)</font> " : (isDone ? "<font color=\"#fce816\">(Adımlar tamamlandı ve bitirilmeyi bekliyor)</font> " : (item.IsRunning ? "<font color=\"#fc8516\">(Aktif)</font> " : "")))@item.Name
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </h2>
                                    </a>
                                </div>
                                <div id="@Html.Raw("collapse"+divId)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <table id="datatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" cellspacing="0" width="100%" style="width: 100%;color:white !important" role="grid" aria-describedby="datatables_info">
                                                <thead>
                                                    <tr style="font-size: 12px !important">
                                                        <th style="width: 10px">#</th>
                                                        <th>Başlık</th>
                                                        <th style="padding-right: 10px;">Açıklama</th>
                                                        <th style="width: 200px;">Atandığı&nbsp;Kullanıcı</th>
                                                        <th style="width: 200px;">Çalışanlar</th>
                                                        <th style="width: 150px;">Durumu</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int customCounter = 1;

                                                        foreach (var item2 in detailIterateList)
                                                        {
                                                            <tr style="font-size: 12px !important">
                                                                <td style="vertical-align: top;">@(customCounter++)</td>
                                                                <td style="vertical-align: top;">@item2.DetailName</td>

                                                                <td style="vertical-align: top;">@Html.Raw(item2.Descripton)</td>
                                                                <td style="vertical-align: top;">@item2.AssigneeUserName</td>
                                                                <td>
                                                                    @foreach (var item3 in item2.AssignedPersonNames)
                                                                    {
                                                                        <span style="display: block;">@Html.Raw(item3.Replace(" ", "&nbsp;"))</span>
                                                                    }
                                                                </td>
                                                                @if (item2.StepStatus == 3)
                                                                {
                                                                    <td><i class="fa fa-check actionIcon" style="margin-left:20px; color:greenyellow; font-size: 20px; margin-top: -1px; "></i></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><i class="fa fa-hourglass-start actionIcon" style=" margin-left:20px; color:orange; font-size: 20px; margin-top: -1px;"></i></td>
                                                                }
                                                                <td><i class='fa fa-edit actionIcon' onclick="getAllKullanici(false); $('#modalGorevEkle').hide(); $('#modalGorevEkleGorevId').val('0'); $('#StartDatePicker').val(''); $('#EndDatePicker').val(''); $('#inputGorevTitle').val(''); $('#inputGorevDescription').val(''); $('#divGorevEkleMilestoneSelect select').val(''); $('#divGorevEkleSprintSelect select').val(''); $('#divGorevEkleAssignedUserSelect select').val(''); $('#divGorevEkleCalisanSecSelect select').val(''); $('.selectpicker').selectpicker('refresh'); prepareGorevUpdatePanel(@item2.StepId);" style='float:right; font-size: 18px;'></i></td>
                                                                <td><i class='fa fa-trash actionIcon' onclick='deleteGorev(@item2.StepId);' style='font-size: 18px; float:right'></i></td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <div class="col-md-12 text-right">
                                                <button onclick="deleteSecilenSprint('@item.Id');" class="btn btn-danger btn-round btn-fab btn-fab-mini" rel="tooltip" data-placement="bottom" title="" data-original-title="Sprint Sil">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                                <button onclick="prepareSecilenSprintModal('@item.Id');" class="btn btn-info btn-round btn-fab btn-fab-mini mx-3" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle">
                                                    <i class="material-icons">create</i>
                                                </button>
                                                @{
                                                    if (item.IsRunning)
                                                    {
                                                        <button onclick="finishSprint('@item.Id');" class="btn btn-warning btn-round btn-fab btn-fab-mini" rel="tooltip" data-placement="bottom" title="" data-original-title="Sprinti Bitir">
                                                            <i class="fa fa-stop"></i>
                                                        </button>
                                                    }
                                                    else if (item.Status != 3)
                                                    {
                                                        <button onclick="startSprint('@item.Id');" class="btn btn-warning btn-round btn-fab btn-fab-mini" rel="tooltip" data-placement="bottom" title="" data-original-title="Sprinti Başlat">
                                                            <i class="fa fa-play"></i>
                                                        </button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <!-- end content-->
        </div>
    </div>


</div>
<!-- Modal Görev Ekle  -->
<div class="modal fade" id="modalGorevEkle" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <div class="header header-info text-center">
                        <h4 class="card-title">Görev Oluştur</h4>
                        <p class="description text-center" style="color:white;">
                            Buradan
                            görev oluşturabilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-3 ml-0">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">calendar_today</i>
                                </span>
                                <input id="modalGorevEkleGorevId" value="0" style="display: none;">
                                <div class="form-group">
                                    <label class="label-control">Başlangıç Tarihi</label>
                                    <input style="color:black!important;" type="text"
                                           class="form-control datepicker" id="StartDatePickerGorev" value="@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")" autocomplete="off" />
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">calendar_today</i>
                                </span>
                                <div class="form-group">
                                    <label class="label-control">Bitiş Tarihi</label>
                                    <input style="color:black!important;" type="text"
                                           class="form-control datepicker" id="EndDatePickerGorev" value="@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")" autocomplete="off" />
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">short_text</i>
                                </span>
                                <div id="divGorevEkleMilestoneSelect" class="form-group is-empty">

                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <input id="inputGorevTitle" type="text"
                                           class="form-control" style="color:black!important;"
                                           placeholder="Başlık giriniz.">
                                </div>
                            </div>
                            <div class="input-group mt-4">
                                <span class="input-group-addon">
                                    <i class="material-icons">description</i>
                                </span>
                                <div class="form-group is-empty">
                                    <textarea id="inputGorevDescription" class="form-control" style="color:black !important;"
                                              placeholder="Açıklama" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="input-group mt-5">
                                <span class="input-group-addon">
                                    <i class="material-icons">linear_scale</i>
                                </span>
                                <div id="divGorevEkleSprintSelect" class="form-group is-empty">
                                    <select class="selectpicker" data-style="btn btn-info btn-round" title="sprınt seçin"></select>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">person</i>
                                </span>
                                <div id="divGorevEkleAssignedUserSelect" class="form-group is-empty">
                                    <select class="selectpicker" data-style="btn btn-info btn-round" title="ATANAN KULLANICIYI SEÇİN">  </select>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">people</i>
                                </span>
                                <div id="divGorevEkleCalisanSecSelect" class="form-group is-empty">

                                    <select class="form-control select2" multiple="multiple" data-placeholder="Çalışanları Seç" style="width: 100%;"></select>
                                </div>

                            </div>


                        </div>
                </div>
                </form>
            </div>
            <div class="modal-footer text-center m-5 my-auto py-4"
                 style="border-top: 1px solid #f1efef;">
                <button onclick="saveStep()" class="btn btn-info btn-round">
                    <i class="material-icons">save_alt</i> Kaydet
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.dataTable').DataTable({
            "language": {
                "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
            },
            "initComplete": function (settings, json) {
                $(".dataTables_wrapper select option").css("background-color", "#191919");
            }
        });
        getAllMilestone();
        getAllKullanici();
        getAllSprint();
        $('.select2').select2();
    });</script>


<script>
    function startSprint(_sprintId)
    {
        $.confirm({
                title: 'Uyarı!',
                content: 'İşlemi tamamlamak istediğinize emin misiniz?',
                buttons: {
                    confirm: {
                        text: 'Evet',
                        btnClass: 'btn-blue',
                        action: function () {
                            $.ajax({
                            type: "POST",
                            url: '@Url.Action("StartSprint", "Backlog")',
                            data: {
                                "_sprintId": _sprintId
                            },
                            success: function (data) {
                                swal('İşlem tamamlandı.');
                                window.location.reload();
                            }
                        });
                        }
                    },
                    cancel: {
                        text: 'İptal',
                        action: function() {
                            return;
                        }
                    },
                }
            });
    }

    function finishSprint(_sprintId)
    {
        $.confirm({
                title: 'Uyarı!',
                content: 'İşlemi tamamlamak istediğinize emin misiniz?',
                buttons: {
                    confirm: {
                        text: 'Evet',
                        btnClass: 'btn-blue',
                        action: function () {
                            $.ajax({
                            type: "POST",
                            url: '@Url.Action("StopSprint", "Backlog")',
                            data: {
                                "_sprintId":_sprintId
                            },
                            success: function (data) {
                                if(data == -1)
                                    swal('Sprint üzerinde çalışıldığı için bitirilemez.');
                                else
                                {
                                    swal('İşlem tamamlandı.');
                                    window.location.reload();
                                }
                            }
                    });
                        }
                    },
                    cancel: {
                        text: 'İptal',
                        action: function() {
                            return;
                        }
                    },
                }
            });
    }

    function saveStep(){

              var stepId = $("#modalGorevEkleGorevId").val();
              var startDate = $("#StartDatePickerGorev").val();
              var endDate = $("#EndDatePickerGorev").val();
              var mileStoneId = $("#divGorevEkleMilestoneSelect select").val();
              var title = $("#inputGorevTitle").val();
              var desc = $("#inputGorevDescription").val();
              var assignedUserId = $("#divGorevEkleAssignedUserSelect select").val();
              var workerIds = $("#divGorevEkleCalisanSecSelect select").val();
              var sprintID = $("#divGorevEkleSprintSelect select").val();



              if(mileStoneId == "" || mileStoneId == null)
              {
                  swal("Milestone Boş Geçilemez!");
                  return;
              }
              if(title == "" || title == null)
              {
                  swal("Başlık Boş Geçilemez!");
                  return;
              }
              if(desc == "" || desc == null)
              {
                  swal("Açıklama Boş Geçilemez!");
                  return;
              }
              if(assignedUserId == "" || assignedUserId == null)
              {
                  swal("Atanan Kullanıcı Boş Geçilemez!");
                  return;
              }
              if(workerIds == "" || workerIds == null)
              {
                  swal("Çalışanlar Boş Geçilemez!");
                  return;
              }
              if(sprintID == "" || sprintID == null)
              {
                  swal("Sprint Boş Geçilemez!");
                  return;
              }

                     $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveStep", "Gorev")',
                    data: {
                        "_startdate": startDate,
                        "_enddate": endDate,
                        "_milestoneId" : mileStoneId,
                        "_title": title,
                        "_desc": desc,
                        "_assignedUserId": assignedUserId,
                        "_workerIds": workerIds,
                        "_sprintID": sprintID,
                        "_stepId": stepId
                    },
                    success: function (data) {
                        swal("BAŞARILI!");
                        window.location.reload();
                        $('#modalGorevEkle').hide();
                        $('#StartDatePickerGorev').val('@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")');
                        $('#EndDatePicker').val('@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")');
                        $('#inputGorevTitle').val('');
                        $('#inputGorevDescription').val('');
                        $("#modalGorevEkleGorevId").val('0');
                        $('#modalGorevEkle').modal('hide');




                    },
                    error: function (err) {
                      swal("HATA!");
                    }
                });
       }

           function getAllMilestone()
          {
              $.ajax({
               type: "POST",
               url: '@Url.Action("GetAllMilestone", "Gorev")',
               data: {},
               success: function (data) {
                   var html = '<select class="selectpicker" data-style="select-with-transition" title="MILESTONE SEÇİNİZ">';
                    for(var i = 0; i < data.length; i++)
                    {
                           html+= `<option value="`+data[i]["Id"]+`">`+data[i]["Name"]+`</option>`;



                    }
                    html += "</select>";
                    $("#divGorevEkleMilestoneSelect").html(html);
                    $('.selectpicker').selectpicker();
               },
               error: function (err) {
                 swal("HATA!");
               }
              });
          }

       function getAllKullanici(isUpdate = true)
       {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllKullanici", "Gorev")',
                data: {},
                success: function (data) {
                     var html = '<select class="selectpicker" data-style="btn btn-info btn-round" title="ATANAN KULLANICIYI SEÇİN">';
                     var html2 = '<select class="select2" data-style="btn btn-info btn-round" title="ÇALIŞANLARI SEÇİN">';
                     for(var i = 0; i < data.length; i++)
                     {
                         html += `<option value="`+data[i]["Id"]+`">`+data[i]["Name"]+`&nbsp`+data[i]["Surname"]+`</option>`;
                         html2 += `<option value="`+data[i]["Id"]+`">`+data[i]["Name"]+`&nbsp`+data[i]["Surname"]+`</option>`;
                     }

                     html += "</select>";
                     html2 += "</select>";
                     $('#divGorevEkleAssignedUserSelect').html(html);
                     //$('#divGorevEkleCalisanSecSelect').html(html2);
                     $('.select2').select2().html(html2);
                     $('.selectpicker').selectpicker();
                     $('.select2').select2();




                },
                error: function (err) {
                  swal("HATA!");
                }
            });
       }


       function getAllSprint()
       {
              $.ajax({
               type: "POST",
               url: '@Url.Action("GetAllSprint", "Gorev")',
               data: {},
               success: function (data) {
                   var hetemele = '<select class="selectpicker" data-style="btn btn-info btn-round" title="sprınt seçin">';

                         for(var i = 0; i < data.length; i++)
                         {
                                hetemele += `<option value="`+data[i]["Id"]+`">`+data[i]["Name"]+`</option>`;



                         }
                         hetemele += "</select>";
                         $('#divGorevEkleSprintSelect').html(hetemele);
                         $('.selectpicker').selectpicker();
               },
               error: function (err) {
                 swal("HATA!");
               }
              });
       }

function prepareGorevUpdatePanel(_gorevId)
       {
          $.ajax({
           type: "POST",
           url: '@Url.Action("GetGorevById", "Gorev")',
           data: {
               "_gorevId": _gorevId

           },
           success: function (data) {



            if(data["StartDate"] == null || data["EndDate"] == null)
            {
                $.confirm({
                title: 'Uyarı!',
                content: 'Görevin Başlangıç veya Bitiş Tarihi girilmemiş. Bugünün tarihiyle devam etmek ister misiniz?',
                buttons: {
                    confirm: {
                        text: 'Evet',
                        btnClass: 'btn-blue',
                        action: function () {
                            $("#StartDatePickerGorev").val('@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")');
                            $("#EndDatePickerGorev").val('@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")');
                        }
                    },
                    cancel: {
                        text: 'İptal',
                        action: function() {
                            $("#StartDatePickerGorev").val(changeEnglishDateTimeToTurkishDateTime(data["StartDate"].split("T")[0]));
                            $("#EndDatePickerGorev").val(changeEnglishDateTimeToTurkishDateTime(data["EndDate"].split("T")[0]));
                        }
                    },
                }
            });
            }
             $("#modalGorevEkleGorevId").val(_gorevId);
             $("#divGorevEkleMilestoneSelect select").val(data["MilestoneId"]);

             $("#inputGorevTitle").val(data["Name"]);
             $("#inputGorevDescription").val(data["Description"]);
             $("#divGorevEkleAssignedUserSelect select").val(data["AssigneeUser"]);
                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();

             $("#divGorevEkleSprintSelect select").val(data["SprintId"]);
               $('.selectpicker').selectpicker('refresh');
               $('.select2').select2();
             //var calisanHtml = '<li class="select2-selection__choice" title="'+data[i]["Name"]+`&nbsp`+data[i]["Surname"]+'"><span class="select2-selection__choice__remove" role="presentation">×</span>'+data[i]["Name"]+`&nbsp`+data[i]["Surname"]+'</li>';
             //$("#divGorevEkleCalisanSecSelect select").val();

             getCalisanKullanicilarByGorevId(_gorevId);

             $("#modalGorevEkle").modal('show');


           },
           error: function (err) {
             swal("HATA!");
           }
        });
       }

    function getCalisanKullanicilarByGorevId(_gorevId)
       {

           $.ajax({
           type: "POST",
           url: '@Url.Action("GetStepPersonsByStepId", "Gorev")',
           data: {
               "_gorevId": _gorevId

           },
           success: function (data) {

             for(var i = 0; i < data.length; i++)
             {
                $("#divGorevEkleCalisanSecSelect select option[value='"+data[i]["Id"]+"']").attr("selected","selected");
                   //html += '<option value="'+data[i]["Id"]+'">'+data[i]["Name"]+'</option>';
             }
                $('.selectpicker').selectpicker('refresh');
                $('.select2').select2();

           },
           error: function (err) {
             swal("HATA!");
           }
        });
       }

       function deleteGorev(_gorevId)
       {
           $.confirm({
                title: 'Uyarı!',
                content: 'Silmek istediğinize emin misiniz?',
                buttons: {
                    confirm: {
                        text: 'Evet',
                        btnClass: 'btn-blue',
                        action: function () {
                            $.ajax({
                            type: "POST",
                            url: '@Url.Action("DeleteGorev", "Gorev")',
                            data: {
                                "_gorevId": _gorevId

                            },
                            success: function (data) {
                                if (data == false) {
                                    swal("Görev silinirken bir hata oluştu!");
                                }
                                else {
                                    swal("Görev başarıyla silindi!");
                                }
                            },
                            error: function (err) {
                              swal("HATA!");
                            }
                        });
                        }
                    },
                    cancel: {
                        text: 'İptal',
                        action: function() {
                            return;
                        }
                    },
                }
            });
       }

function saveSprint(){

  var titleSprint = $("#titleSprint").val();
  var startDate = $("#StartDatePicker").val();
  var endDate = $("#EndDatePicker").val();
  var Description = $("#SprintDescription").val();
  var sprintId = $('#modalSprintEkleSprintId').val();


  if(titleSprint == "" || titleSprint == null)
  {
       swal("Başlık Boş Geçilemez!", "Lütfen Başlık Giriniz...", "warning");
      return;
  }

  if(startDate == "" || startDate == null)
  {

      swal("Başlangıç Tarihi Boş Geçilemez!", "Lütfen Başlangıç Tarihi Giriniz...", "warning");
      return;
  }
   if(endDate == "" || endDate == null)
  {

      swal("Bitiş Tarihi Boş Geçilemez!", "Lütfen Bitiş Tarihi Giriniz...", "warning");
      return;
  }
   if(Description == "" || Description == null)
  {

       swal("Açıklama Boş Geçilemez!", "Lütfen Açıklama Giriniz...", "warning");
      return;
  }



        $.ajax({
        type: "POST",
        url: '@Url.Action("SaveSprint", "Backlog")',
        data: {
            "_titleSprint": titleSprint,
            "_endDate": endDate,
            "_startDate" : startDate,
            "_description": Description,
            "_sprintId": sprintId

        },

        success: function (data) {
            $('#modalSprintEkleSprintId').val('0');
            $('#titleSprint').val('');
            $('#StartDatePicker').val('@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")');
            $('#EndDatePicker').val('@DateTime.Now.ToString("dd/MM/yyyy").Replace(".","/").Replace("-","/")');
            $('#SprintDescription').val('');
            $("#modalSprintEkle").hide();
            swal("BAŞARILI!", "Sprint Başarıyla Eklendi.", "success");
           $(".swal2-confirm").removeAttr("onclick").attr("onclick", " location.reload();");
        },
        error: function (err) {
          swal("HATA!");
        }
    });
}

function prepareSecilenSprintModal(_sprintId){
 $.ajax({
        type: "POST",
        url: '@Url.Action("GetSprintById", "Backlog")',
        data: {
            "_sprintId": _sprintId

        },
        success: function (data) {

          $("#modalSprintEkleSprintId").val(_sprintId);
          $("#titleSprint").val(data["Name"]);
          $("#StartDatePicker").val(changeEnglishDateTimeToTurkishDateTime(data["StartDate"].split("T")[0]));
          $("#EndDatePicker").val(changeEnglishDateTimeToTurkishDateTime(data["EndDate"].split("T")[0]));
          $("#SprintDescription").val(data["Description"]);

          $("#modalSprintEkle").modal('show');

        },
        error: function (err) { $('#modalSprintEkleSprintId').val('0'); $('#titleSprint').val(''); $('#StartDatePicker').val(''); $('#EndDatePicker').val(''); $('#SprintDescription').val(''); $('#modalSprintEkle').hide();
          swal("HATA!");
        }
    });
}



function deleteSecilenSprint(_sprintId)
{
    $.confirm({
                title: 'Uyarı!',
                content: 'Silmek istediğinize emin misiniz?',
                buttons: {
                    confirm: {
                        text: 'Evet',
                        btnClass: 'btn-blue',
                        action: function () {
                           $.ajax({
                            type: "POST",
                            url: '@Url.Action("DeleteSprint", "Backlog")',
                            data: {
                                "_sprintId": _sprintId

                            },
                            success: function (data) {

                                if (data == false) {
                                    swal("Sprint silinirken bir hata oluştu!");
                                }
                                else {
                                    swal("Sprint başarıyla silindi!");

                                    location.reload();
                                }
                            },
                            error: function (err) {
                              swal("HATA!");
                            }
                        });
                        }
                    },
                    cancel: {
                        text: 'İptal',
                        action: function() {
                            return;
                        }
                    },
                }
            });
}

function addToDoBoardbySprintId(_sprintId)
{
  var isExist = controlPano(_sprintId);

  if(isExist)
  {
    swal("Aktif bir sprint bulunmakta, onu bitirmeden başka bir sprint başlatamazsınız!");
    return;
  }
  else
  {
   $.ajax({
        type: "POST",
        url: '@Url.Action("SaveBoardStepBySprintId", "Backlog")',
        data: {
            "_sprintId": _sprintId

        },
        success: function (data) {

            if (data == false) {
                swal("Panoya Eklenirken bir hata oluştu!");
            }
            else {
                swal("Panoya başarıyla eklendi!");

                location.reload();
            }
        },
        error: function (err) {
          swal("HATA!");
        }
    });
  }
}

function controlPano(_sprintId)
{
  var returnAnswer;
  $.ajax({
        type: "POST",
        url: '@Url.Action("ControlIfExistInPano", "Backlog")',
        data: {
            "_sprintId": _sprintId

        },
        async: false,
        dataType: 'json',
              async: false,
        success: function (data) {
            returnAnswer = data;
        },
        error: function (err) {
          swal("HATA!");
        }
    });
    return returnAnswer;
}

</script>