@{
    ViewBag.Title = "Kişi & Takım İşlemleri";
    ViewBag.ActivePageName = "Kişi & Takım İşlemleri";
}
@using PMPDAL.Entities;
@{
    var activePerson = ViewBag.ActivePerson as Person;
    if (activePerson.IsAdmin == 0)
    {

        @Html.Raw("<script>window.location = '" + @Url.Action("Index", "Home") + "';</script>")
    }
}

<style>
    .ps-scrollbar-y-rail {
        top: 30px!important;
        right: 0px!important;
        height: 900px !important;
    }
    .ps-scrollbar-x-rail {
        left: 0px;
        bottom: -71px;
    }
    .dataTable{
        color:white !important;
    }
    .row {
        color: black;
    }
    .checkbox label, .radio label, label, .label-on-left, .label-on-right {
        color: white;
    }

    .pagination > li > a, .pagination > li > span {
        color: white;
    }

    th {
        font-size: 18px;
    }

    td {
        font-size: 18px;
    }

    .table > tbody > tr {
        background-color: #07a0b1;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #54bcc8;
    }

    table.dataTable {
        background-color: #304a5e;
    }
</style>
<!-- gell all person div -->
<div class="container-fluid">
    <!-- AKTİF PROJELER BURADAN BAŞLIYOR -->
    <div class="col-md-12 mb-5 pb-5" style="margin-top:25px;">
        <div class="card"
             style="background: #486d89; color: white; box-shadow: 0px 0px 9px 2px #48484896; border-radius: 10px;">
            <div onclick="fillPersonTeamSelect(); $('#modalUserEkleUserId').val('0');$('#modalUserEkleUserName').val('');$('#modalUserEkleUserSurname').val('');$('#modalUserEkleUserMail').val('');$('#modalUserEkleUserPassword').val('');" class="card-header card-header-icon" data-background-color="blue"
                 style="cursor:pointer;" data-toggle="modal" data-target="#kullaniciEkleModal">
                <h4><small><b style="color:white;">YENİ KULLANICI EKLE</b></small></h4>
            </div>
            <div class="card-content">
                <div id="divProjeListesi" class="box-body no-padding">
                    <div style="clear: both;"></div>
                    <table class="table table-striped table-no-bordered table-hover dataTable dtr-inline"></table>
                </div>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
        <!-- Team Ekle Table -->
        <div class="card" style="background: #486d89; color: white; box-shadow: 0px 0px 9px 2px #48484896; border-radius: 10px;">
            <div onclick="fillPersonTeamSelect(); fillAddTeamSelectDepartmentList(); $('#modalTeamEkleUserId').val('0');$('#modalTeamEkleName').val('');" class="card-header card-header-icon" data-background-color="blue"
                 style="cursor:pointer;" data-toggle="modal" data-target="#TeamEkleModal">
                <h4><small><b style="color:white;">YENİ TAKIM EKLE</b></small></h4>
            </div>
            <div class="card-content">
                <div id="divTeamListesi" class="box-body no-padding">
                    <div style="clear: both;"></div>
                    <table class="table table-striped table-no-bordered table-hover dataTable dtr-inline"></table>
                </div>
            </div>
            <!-- end content-->
        </div>
        <!-- Team Ekle Table Burada Bitiyor -->
        <!-- Departman Ekle Başlangıç -->
        <div class="card" style="background: #486d89; color: white; box-shadow: 0px 0px 9px 2px #48484896; border-radius: 10px;">
            <div onclick="fillDepartmentHeadSelect(); $('#modalDepartmanEkleDeptId').val('0');$('#modalDepartmanEkleDeptName').val('');" class="card-header card-header-icon" data-background-color="blue"
                 style="cursor:pointer;" data-toggle="modal" data-target="#DepartmanEkleModal">
                <h4><small><b style="color:white;">YENİ DEPARTMAN EKLE</b></small></h4>
            </div>
            <div class="card-content">
                <div id="divDepartmanListesi" class="box-body no-padding">
                    <div style="clear: both;"></div>
                    <table class="table table-striped table-no-bordered table-hover dataTable dtr-inline"></table>
                </div>
            </div>
        </div>


    </div>
    <!-- AKTİF PROJELER BURADA BİTİYOR -->
    <!-- YENİ PROJE EKLE MODAL -->
    <div class="modal fade" id="kullaniciEkleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <button onclick="" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>

                        <div class="header header-info text-center">
                            <h4 class="card-title">Kullanıcı Oluştur</h4>
                            <p class="description text-center" style="color:white;">
                                Buradan
                                kullanıcı oluşturabilirsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="modal-body mr-3 ml-0">
                        <form class="form" method="" action="">
                            <div class="card-content py-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">text_format</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input id="modalUserEkleUserId" value="0" style="display: none;" />
                                        <input id="modalUserEkleUserName" type="text" class="form-control" style="color:black!important;" placeholder="Ad">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">code</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input id="modalUserEkleUserSurname" type="text" class="form-control" style="color:black!important;" placeholder="Soyad">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">short_text</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input id="modalUserEkleUserMail" type="text" class="form-control" style="color:black!important;" placeholder="EPosta Adresi">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">short_text</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input id="modalUserEkleUserPassword" type="password" class="form-control" style="color:black!important;" placeholder="Şifre" autocomplete="off">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">short_text</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <label class="pure-material-checkbox" style="margin-top: 8px;">
                                            <input id="isAdmin" type="checkbox">
                                            <span><span style="margin-top: -23px; display: block; margin-left: 27px;">Admin mi?</span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">person</i>
                                    </span>
                                    <div id="divKullaniciEkleTeamId" class="form-group is-empty">

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer text-center m-5 my-auto py-4" style="border-top: 1px solid #f1efef;">
                    <button onclick="saveUser()" class="btn btn-info btn-round"><i class="material-icons">save_alt</i> Kaydet</button>
                </div>
            </div>
        </div>
    </div>
    <!-- YENİ PROJE EKLE MODAL -->
    <!-- TAMAMLANMIŞ PROJELER BURADA BİTİYOR -->
</div>
        </div>



<!-- get all TEAM div Modal -->
<div class="container-fluid">

    <div class="modal fade" id="TeamEkleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="card card-signup card-plain">
                    <div class="modal-header">
                        <button onclick="" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>

                        <div class="header header-info text-center">
                            <h4 class="card-title">Takım Oluştur</h4>
                            <p class="description text-center" style="color:white;">
                                Buradan
                                Takım oluşturabilirsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="modal-body mr-3 ml-0">
                        <form class="form" method="" action="">
                            <div class="card-content py-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">text_format</i>
                                    </span>
                                    <div class="form-group is-empty">
                                        <input id="modalTeamEkleUserId" value="0" style="display: none;" />
                                        <input id="modalTeamEkleName" type="text" class="form-control" style="color:black!important;" placeholder="Takım Adı">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">person</i>
                                    </span>

                                    <div id="divTakimEkleDepartmentId" class="form-group is-empty">

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center m-5 my-auto py-4" style="border-top: 1px solid #f1efef;">
                        <button onclick="saveTeam()" class="btn btn-info btn-round"><i class="material-icons">save_alt</i> Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Div burada bitiyor -->
    <!-- Departman Ekle Div Başlangıç -->
    <div class="container-fluid">

        <div class="modal fade" id="DepartmanEkleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="card card-signup card-plain">
                        <div class="modal-header">
                            <button onclick="" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="material-icons">clear</i>
                            </button>

                            <div class="header header-info text-center">
                                <h4 class="card-title">Departman Oluştur</h4>
                                <p class="description text-center" style="color:white;">
                                    Buradan
                                    Departman oluşturabilirsiniz.
                                </p>
                            </div>
                        </div>
                        <div class="modal-body mr-3 ml-0">
                            <form class="form" method="" action="">
                                <div class="card-content py-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">text_format</i>
                                        </span>
                                        <div class="form-group is-empty">
                                            <input id="modalDepartmanEkleDeptId" value="0" style="display: none;" />
                                            <input id="modalDepartmanEkleDeptName" type="text" class="form-control" style="color:black!important;" placeholder="Departman Adı">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">person</i>
                                        </span>
                                        <div id="divDepartmentEkleHeadId" class="form-group is-empty">

                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer text-center m-5 my-auto py-4" style="border-top: 1px solid #f1efef;">
                        <button onclick="saveDepartman()" class="btn btn-info btn-round"><i class="material-icons">save_alt</i> Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            getAllPerson();
            getAllTeam();
            getAllDepartment();
            getAllTeamSelect();
        });</script>

    <!-- Person Ekle Script buradan baslıyor -->
    <script>
        function fillDepartmentHeadSelect() {
            var list = getAllPersonList();

            $("#divDepartmentEkleHeadId").html('<select class="selectpicker" data-style="btn btn-info btn-round" title="Departman Yetkilisi Seçiniz..."></select>');

            for (var i = 0; i < list.length; i++) {
                $("#divDepartmentEkleHeadId select").append('<option value="' + list[i]["Id"] + '">' + list[i]["Name"] + ' ' + list[i]["Surname"] + '</option>');
            }

            $(".selectpicker").selectpicker();
            $(".selectpicker").selectpicker('refresh');
        }

        function fillPersonTeamSelect()
        {
            var list = getAllTeam();

            $("#divKullaniciEkleTeamId").html('<select class="selectpicker" data-style="btn btn-info btn-round" title="Takım Seçiniz..."></select>');

            for(var i = 0; i < list.length; i++)
            {
                $("#divKullaniciEkleTeamId select").append('<option value="'+list[i]["Id"]+'">'+list[i]["Name"]+'</option>');
            }

            $(".selectpicker").selectpicker();
            $(".selectpicker").selectpicker('refresh');
        }

        function prepareKullaniciUpdatePanel(_personId)
        {
            fillPersonTeamSelect();

            //GetPersonById
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetPersonById", "Person")',
                data: {
                    "_personId": _personId
                },
                success: function (data) {
                    console.log(data);
                    $("#modalUserEkleUserId").val(data["Id"]);
                    $("#modalUserEkleUserName").val(data["Name"]);
                    $("#modalUserEkleUserSurname").val(data["Surname"]);
                    $("#modalUserEkleUserMail").val(data["Email"]);
                    $("#modalUserEkleUserPassword").val(data["Password"]);
                    $("#divKullaniciEkleTeamId select").val(data["TeamId"]);
                    $("#isAdmin").prop("checked", data["IsAdmin"] == 1);

                    setTimeout(function () {
                        $(".selectpicker").selectpicker();
                        $(".selectpicker").selectpicker('refresh');
                    }, 200);

                    $("#kullaniciEkleModal").modal('show');
                }
            });
    }

        function prepareDepartmentUpdatePanel(_deptId)
        {
            fillDepartmentHeadSelect();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDepartmentById", "Person")',
                data: {
                    "_deptId": _deptId
                },
                success: function (data) {
                    $("#divDepartmentEkleHeadId select").val(data["HeadOfDepartmentId"]);
                    $("#modalDepartmanEkleDeptId").val(data["Id"]);
                    $("#modalDepartmanEkleDeptName").val(data["DepartmentName"]);
                    $(".selectpicker").selectpicker('refresh');

                    $("#DepartmanEkleModal").modal('show');
                }
            });
         }

        function getAllDepartmentList() {
            var returnResult = null;
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAllDepartment", "Person")',
                data: {},
                async: false,
                success: function (data) {
                    returnResult = data;
                }
            });

            return returnResult;
        }

    function getAllDepartment()
       {
               $.ajax({
               type: "POST",
               url: '@Url.Action("GetAllDepartment", "Person")',
               data: {},
               success: function (data) {

                      $('#divDepartmanListesi').html('<div style="clear: both;"></div> <table class="table table-striped table-no-bordered table-hover dataTable dtr-inline"> <thead> <tr style="font-size: 12px !important"> <th>Departman Adı</th> <th>Departman Yetkilisi</th> <th></th> <th></th> </tr> </thead> <tbody>');

                         for(var i = 0; i < data.length; i++)
                         {
                                var html = `<tr style="font-size: 12px !important">
                                <td style="vertical-align: top;">`+ data[i]["DepartmentName"] + `</td>
                                <td style="vertical-align: top;">`+ data[i]["HeadOfDepartmentName"] +`</td>`;

                            html+="<td><i class='fa fa-edit actionIcon' onclick='prepareDepartmentUpdatePanel("+data[i]["Id"]+");' style='float:right; font-size: 18px;'></i></td><td><i class='fa fa-trash actionIcon' onclick='deleteDepartment("+data[i]["Id"]+")' style='font-size: 18px; float:right'></i></td></tr>";
                            html += '</tbody></table>';
                               $('#divDepartmanListesi table').append(html);



                         }
                               $('#divDepartmanListesi table').DataTable( {
                                    "language": {
                                        "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                                    },
                                     "initComplete": function(settings, json) {
                                            $(".dataTables_wrapper select option").css("background-color", "#191919");
                                        }
                                });


               },
               error: function (err) {
                 swal("HATA!");
               }
              });
       }

        function getAllPersonList() {
            var returnList = null;
            $.ajax({
                type: "POST",
                async: false,
                url: '@Url.Action("GetAllPerson", "Person")',
                data: {},
                success: function (data) {
                    returnList = data;
                }
            });

            return returnList;
        }

       function getAllPerson()
       {
               $.ajax({
               type: "POST",
               url: '@Url.Action("GetAllPerson", "Person")',
               data: {},
               success: function (data) {

                   $('#divProjeListesi').html('<div style="clear: both"></div> <table class="table table-striped table-no-bordered table-hover dataTable dtr-inline"> <thead> <tr style="font-size: 12px !important"> <th>Ad Soyad</th> <th>E-mail</th> <th>Yetki Durumu</th> <th>Takımı</th> <th></th> <th></th> </tr> </thead> <tbody>');

                         for(var i = 0; i < data.length; i++)
                         {
                                var html = `<tr style="font-size: 12px !important">
                             <td style="vertical-align: top;">`+data[i]["Name"]+` `+data[i]["Surname"]+`</td>
                             <td style="vertical-align: top;">`+data[i]["Email"]+`</td>
                             <td style="vertical-align: top;">`+(data[i]["IsAdmin"] == 1 ? "Admin" : "Kullanıcı")+`</td>
                            <td style="vertical-align: top;">`+data[i]["TeamName"]+`</td>`;

                            html+="<td><i class='fa fa-edit actionIcon' onclick='prepareKullaniciUpdatePanel("+data[i]["Id"]+");' style='float:right; font-size: 18px;'></i></td><td><i class='fa fa-trash actionIcon' onclick='deletePerson("+data[i]["Id"]+")' style='font-size: 18px; float:right'></i></td></tr>";
                            html += '</tbody></table>';
                               $('#divProjeListesi table').append(html);



                         }
                               $('#divProjeListesi table').DataTable( {
                                    "language": {
                                        "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                                    },
                                     "initComplete": function(settings, json) {
                                            $(".dataTables_wrapper select option").css("background-color", "#191919");
                                        }
                                });


               },
               error: function (err) {
                 swal("HATA!");
               }
              });
       }


       function getAllTeam()
       {
           var returnResult;

            $.ajax({
               type: "POST",
               url: '@Url.Action("GetAllTeam", "Person")',
               async: false,
               data: {},
               success: function (data) {
                   returnResult = data;
               }
            });

            return returnResult;
       }

       function saveUser()
       {
           var userId = $("#modalUserEkleUserId").val();
           var name = $("#modalUserEkleUserName").val();
           var surname = $("#modalUserEkleUserSurname").val();
           var mail = $("#modalUserEkleUserMail").val();
           var password = $("#modalUserEkleUserPassword").val();
           var teamId = $("#divKullaniciEkleTeamId select").val();
           var isAdmin = $("#isAdmin").prop("checked");

              if(name == "" || name == null)
                {
                    swal("Ad Boş Geçilemez!");
                    return;
                }

             if(surname == "" || surname == null)
                {
                    swal(" Soyad Boş Geçilemez!");
                    return;
                }
             if(mail == "" || mail == null)
                {
                    swal("Mail Boş Geçilemez!");
                    return;
                }
            if(password == "" || password == null)
                {
                    swal(" Şifre Boş Geçilemez!");
                    return;
                }

            if(teamId == "" || teamId == null)
                 {
                      swal('Takım seçiniz...');
                            return;
                 }

           $.ajax({
               type: "POST",
               url: '@Url.Action("SavePerson", "Person")',
               data: {
                   "_id":userId,
                   "_name":name,
                   "_surname":surname,
                   "_mail":mail,
                   "_password":password,
                   "_teamId": teamId,
                   "_isAdmin" : isAdmin
               },
               success: function (data) {
                   if(data)
                   {
                       $("#kullaniciEkleModal").modal('hide');
                     getAllPerson();
                       swal('Kullanıcı başarıyla eklendi!');
                   }
               }
            });
       }

        function deletePerson(_personId)
        {
            $.confirm({
                title: 'Uyarı!',
                content: 'Silmek istediğinize emin misiniz?',
                buttons: {
                    confirm: {
                        text: 'Evet',
                        btnClass: 'btn-blue',
                        action: function () {
                            $.ajax({
                            type: "POST",
                            url: '@Url.Action("DeletePerson", "Person")',
                            data: {
                                "_personId": _personId
                            },
                            success: function (data) {
                                if (data) {
                                    getAllPerson();
                                    swal('Kullanıcı başarıyla silindi!');
                                }
                            },
                            error: function (err) {
                                swal("HATA!");
                            }
                        });
                        }
                    },
                    cancel: {
                        text: 'İptal',
                        action: function() {
                            return;
                        }
                    },
                }
            });
    }

         function deleteDepartment(_deptId)
         {
             $.confirm({
                title: 'Uyarı!',
                content: 'Silmek istediğinize emin misiniz?',
                buttons: {
                    confirm: {
                        text: 'Evet',
                        btnClass: 'btn-blue',
                        action: function () {
                            $.ajax({
                             type: "POST",
                             url: '@Url.Action("DeleteDepartment", "Person")',
                             data: {
                                 "_deptId": _deptId
                             },
                             success: function (data) {
                                 if (data) {
                                     getAllDepartment();
                                     swal('Departman başarıyla silindi!');
                                 }
                             },
                             error: function (err) {
                                 swal("HATA!");
                             }
                         });
                        }
                    },
                    cancel: {
                        text: 'İptal',
                        action: function() {
                            return;
                        }
                    },
                }
            });
         }
    </script>
    <!-- Person Ekle Script burada bitiyor -->
    <!-- TEAM  Ekle Script Buradan Başlıyor -->
    <script>

    function fillAddTeamSelectDepartmentList() {
        var list = getAllDepartmentList();

        $("#divTakimEkleDepartmentId").html('<select class="selectpicker" data-style="btn btn-info btn-round" title="Departman Seçiniz..."></select>');

        for (var i = 0; i < list.length; i++) {
            $("#divTakimEkleDepartmentId select").append('<option value="' + list[i]["Id"] + '">' + list[i]["DepartmentName"] + '</option>');
        }

        $(".selectpicker").selectpicker();
        $(".selectpicker").selectpicker('refresh');
    }

    function saveDepartman() {
           var deptId = $("#modalDepartmanEkleDeptId").val();
           var deptName = $("#modalDepartmanEkleDeptName").val();
        var headId = $("#divDepartmentEkleHeadId select").val();

           if(deptName == "" || deptName == null)
           {
               swal("Departman Adı Boş Geçilemez!");
               return;
        }

        if (headId == "") {
            swal('Lütfen departman yetkilisi seçiniz..');
            return;
        }



        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveDepartman", "Person")',
            data: {
                "_id": deptId,
                "_name": deptName,
                "_headOfDepartment": headId
            },
            success: function (data) {
                if (data) {
                    $("#DepartmanEkleModal").modal('hide');
                    getAllDepartment();
                    swal('Departman başarıyla kaydedildi!');
                }
            }
        });
    }

       function saveTeam()
       {
           var teamId = $("#modalTeamEkleUserId").val();
           var name = $("#modalTeamEkleName").val();
           var departmentId = $("#divTakimEkleDepartmentId select").val();

           if(name == "" || name == null)
           {
               swal("Takım Adı Boş Geçilemez!");
               return;
           }

           if (departmentId == "") {
               swal('Lütfen departman seçiniz...');
               return;
           }


           $.ajax({
               type: "POST",
               url: '@Url.Action("SaveTeam", "Person")',
               data: {
                   "_id": teamId,
                   "_name": name,
                   "_departmentId": departmentId
               },
               success: function (data) {
                   if(data)
                   {
                       $("#TeamEkleModal").modal('hide');
                     getAllTeamSelect();
                       swal('Takım başarıyla kaydedildi!');
                   }
               }
            });
       }


      function prepareTeamUpdatePanel(_teamId)
        {

          fillAddTeamSelectDepartmentList();
            //GetPersonById
            $.ajax({
               type: "POST",
               url: '@Url.Action("GetTeamById", "Person")',
               data: {
                   "_teamId": _teamId
               },
               success: function (data) {
                   $("#modalTeamEkleUserId").val(data["Id"]);
                   $("#modalTeamEkleName").val(data["Name"]);
                   $("#divTakimEkleDepartmentId select").val(data["DepartmentId"]);

                   setTimeout(function(){
                        //$(".selectpicker").selectpicker();
                       $(".selectpicker").selectpicker('refresh');
                       $("#TeamEkleModal").modal('show');
                    }, 200);


               }
            });
        }

        function getAllTeamSelect()
       {
               $.ajax({
               type: "POST",
               url: '@Url.Action("GetAllTeamSelect", "Person")',
               data: {},
               success: function (data) {

                   $('#divTeamListesi').html('<div style="clear: both;"></div> <table class="table table-striped table-no-bordered table-hover dataTable dtr-inline"> <thead> <tr style="font-size: 12px !important"> <th>#</th> <th>Takım Adı</th> <th>Takım Departmanı</th> <th></th> <th></th> </tr> </thead> <tbody>');

                         for(var i = 0; i < data.length; i++)
                         {
                                var html = `<tr style="font-size: 12px !important">
                             <td style="vertical-align: top;">`+(i+1)+`</td>
                             <td style="vertical-align: top;">`+ data[i]["Name"] + `</td>
                            <td style="vertical-align: top;">`+ data[i]["DepartmentName"] +`</td>
`;




                            html+="<td><i class='fa fa-edit actionIcon' onclick='prepareTeamUpdatePanel("+data[i]["Id"]+");' style='float:right; font-size: 18px;'></i></td><td><i class='fa fa-trash actionIcon' onclick='deleteTeam("+data[i]["Id"]+")' style='font-size: 18px; float:right'></i></td></tr>";
                            html += '</tbody></table>';
                               $('#divTeamListesi table').append(html);



                         }
                               $('#divTeamListesi table').DataTable( {
                                    "language": {
                                        "url": "http://cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                                    },
                                     "initComplete": function(settings, json) {
                                            $(".dataTables_wrapper select option").css("background-color", "#191919");
                                        }
                                });


               },
               error: function (err) {
                 swal("HATA!");
               }
              });
       }


         function deleteTeam(_teamId)
         {
             $.confirm({
                title: 'Uyarı!',
                content: 'Silmek istediğinize emin misiniz?',
                buttons: {
                    confirm: {
                        text: 'Evet',
                        btnClass: 'btn-blue',
                        action: function () {
                            $.ajax({
                           type: "POST",
                           url: '@Url.Action("DeleteTeam", "Person")',
                           data: {
                               "_teamId": _teamId
                           },
                           success: function (data) {
                               if(data)
                               {
                                    getAllTeamSelect();
                                   swal('Takım başarıyla silindi!');
                               }
                           },
                           error: function (err) {
                             swal("HATA!");
                           }
                          });
                        }
                    },
                    cancel: {
                        text: 'İptal',
                        action: function() {
                            return;
                        }
                    },
                }
            });
            
        }


    </script>
    <style>

        .pure-material-checkbox {
            z-index: 0;
            position: relative;
            display: inline-block;
            color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
            font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
            font-size: 16px;
            line-height: 1.5;
        }

            /* Input */
            .pure-material-checkbox > input {
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                z-index: -1;
                position: absolute;
                left: -10px;
                top: -8px;
                display: block;
                margin: 0;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
                box-shadow: none;
                outline: none;
                opacity: 0;
                transform: scale(1);
                pointer-events: none;
                transition: opacity 0.3s, transform 0.2s;
            }

            /* Span */
            .pure-material-checkbox > span {
                display: inline-block;
                width: 100%;
                cursor: pointer;
            }

                /* Box */
                .pure-material-checkbox > span::before {
                    content: "";
                    display: inline-block;
                    box-sizing: border-box;
                    margin: 3px 11px 3px 1px;
                    border: solid 2px; /* Safari */
                    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
                    border-radius: 2px;
                    width: 18px;
                    height: 18px;
                    vertical-align: top;
                    transition: border-color 0.2s, background-color 0.2s;
                }

                /* Checkmark */
                .pure-material-checkbox > span::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 3px;
                    left: 1px;
                    width: 10px;
                    height: 5px;
                    border: solid 2px transparent;
                    border-right: none;
                    border-top: none;
                    transform: translate(3px, 4px) rotate(-45deg);
                }

            /* Checked, Indeterminate */
            .pure-material-checkbox > input:checked,
            .pure-material-checkbox > input:indeterminate {
                background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
            }

                .pure-material-checkbox > input:checked + span::before,
                .pure-material-checkbox > input:indeterminate + span::before {
                    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
                    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
                }

                .pure-material-checkbox > input:checked + span::after,
                .pure-material-checkbox > input:indeterminate + span::after {
                    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
                }

                .pure-material-checkbox > input:indeterminate + span::after {
                    border-left: none;
                    transform: translate(4px, 3px);
                }

            /* Hover, Focus */
            .pure-material-checkbox:hover > input {
                opacity: 0.04;
            }

            .pure-material-checkbox > input:focus {
                opacity: 0.12;
            }

            .pure-material-checkbox:hover > input:focus {
                opacity: 0.16;
            }

            /* Active */
            .pure-material-checkbox > input:active {
                opacity: 1;
                transform: scale(0);
                transition: transform 0s, opacity 0s;
            }

                .pure-material-checkbox > input:active + span::before {
                    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
                }

            .pure-material-checkbox > input:checked:active + span::before {
                border-color: transparent;
                background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
            }

            /* Disabled */
            .pure-material-checkbox > input:disabled {
                opacity: 0;
            }

                .pure-material-checkbox > input:disabled + span {
                    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
                    cursor: initial;
                }

                    .pure-material-checkbox > input:disabled + span::before {
                        border-color: currentColor;
                    }

            .pure-material-checkbox > input:checked:disabled + span::before,
            .pure-material-checkbox > input:indeterminate:disabled + span::before {
                border-color: transparent;
                background-color: currentColor;
            }
    </style>
