@{
    ViewBag.Title = "Pano";
    ViewBag.ActivePageName = "Pano";
}

<style>

    .ps-scrollbar-y-rail {
        top: 30px !important;
        right: 0px !important;
        height: 900px !important;
    }

    .customInfoBox {
        transition: all 0.5s;
    }

        .customInfoBox:hover {
            color: #d2d2d2 !important;
        }
</style>
<script>
    function showPopup(stepId, boardId, elem)
    {
         if ($("#handMadeToolTip").is(':visible'))
            return;

        boardId = $(elem).parent().parent().parent().parent().attr("id").replace("divOuter", "");

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetStepHoverInfo", "Board")',
            data: {
                "_stepId": stepId,
                "_boardId": boardId
            },
            success: function (data) {
                var htmlStr = data;

                var rect = elem.getBoundingClientRect();
                var left = rect.left + "px";
                var topd = rect.top + "px";

                htmlStr = '<div style="position: absolute; top: ' + topd + '; left: ' + left + '; margin-left: 20px; background-color: rgba(0, 0, 0, 0.6); color: white; z-index: 12438714372393; padding: 10px; border-radius: 10px !important; font-weight: bold; font-size: 12px;" id="handMadeToolTip">' + htmlStr + "</div>";
                $("body").append(htmlStr);
            }
        });
    }

</script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js"></script>
<div class="container-fluid" id="divMain">
    <div class="row mt-5">
    </div>
</div>

<div class="modal fade" id="panoEkleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 1263871269871273981273981239812731298; display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <div class="header header-info text-center">
                        <h4 class="card-title">Kolon Ekle</h4>
                        <p class="description text-center" style="color:white;">
                            Buradan  pano ekleyebilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="modal-body mr-5 ml-4">
                    <form class="form" method="" action="">
                        <div class="card-content py-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">text_format</i>
                                </span>
                                <div class="form-group is-empty">
                                    <input id="modalPanoEklePanoId" value="0" style="display: none;">
                                    <input id="modalPanoEklePanoAdi" type="text" class="form-control" style="color: black!important;" placeholder="Kolon adını giriniz.">
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">short_text</i>
                                </span>
                                <div class="form-group is-empty">
                                    <label class="pure-material-checkbox" style="margin-top: 8px;">
                                        <input id="isDescRequired" type="checkbox">
                                        <span><span style="margin-top: -23px; display: block; margin-left: 27px;">Açıklama girilecek mi?</span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center m-5 my-auto py-4"
                     style="border-top: 1px solid #f1efef;">
                    <button onclick="savePano()" class="btn btn-info btn-round">
                        <i class="material-icons">save_alt</i> Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    .pure-material-checkbox {
        z-index: 0;
        position: relative;
        display: inline-block;
        color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
        font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
        font-size: 16px;
        line-height: 1.5;
    }

        /* Input */
        .pure-material-checkbox > input {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            z-index: -1;
            position: absolute;
            left: -10px;
            top: -8px;
            display: block;
            margin: 0;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
            box-shadow: none;
            outline: none;
            opacity: 0;
            transform: scale(1);
            pointer-events: none;
            transition: opacity 0.3s, transform 0.2s;
        }

        /* Span */
        .pure-material-checkbox > span {
            display: inline-block;
            width: 100%;
            cursor: pointer;
        }

            /* Box */
            .pure-material-checkbox > span::before {
                content: "";
                display: inline-block;
                box-sizing: border-box;
                margin: 3px 11px 3px 1px;
                border: solid 2px; /* Safari */
                border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
                border-radius: 2px;
                width: 18px;
                height: 18px;
                vertical-align: top;
                transition: border-color 0.2s, background-color 0.2s;
            }

            /* Checkmark */
            .pure-material-checkbox > span::after {
                content: "";
                display: block;
                position: absolute;
                top: 3px;
                left: 1px;
                width: 10px;
                height: 5px;
                border: solid 2px transparent;
                border-right: none;
                border-top: none;
                transform: translate(3px, 4px) rotate(-45deg);
            }

        /* Checked, Indeterminate */
        .pure-material-checkbox > input:checked,
        .pure-material-checkbox > input:indeterminate {
            background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
        }

            .pure-material-checkbox > input:checked + span::before,
            .pure-material-checkbox > input:indeterminate + span::before {
                border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
                background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
            }

            .pure-material-checkbox > input:checked + span::after,
            .pure-material-checkbox > input:indeterminate + span::after {
                border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
            }

            .pure-material-checkbox > input:indeterminate + span::after {
                border-left: none;
                transform: translate(4px, 3px);
            }

        /* Hover, Focus */
        .pure-material-checkbox:hover > input {
            opacity: 0.04;
        }

        .pure-material-checkbox > input:focus {
            opacity: 0.12;
        }

        .pure-material-checkbox:hover > input:focus {
            opacity: 0.16;
        }

        /* Active */
        .pure-material-checkbox > input:active {
            opacity: 1;
            transform: scale(0);
            transition: transform 0s, opacity 0s;
        }

            .pure-material-checkbox > input:active + span::before {
                border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
            }

        .pure-material-checkbox > input:checked:active + span::before {
            border-color: transparent;
            background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
        }

        /* Disabled */
        .pure-material-checkbox > input:disabled {
            opacity: 0;
        }

            .pure-material-checkbox > input:disabled + span {
                color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
                cursor: initial;
            }

                .pure-material-checkbox > input:disabled + span::before {
                    border-color: currentColor;
                }

        .pure-material-checkbox > input:checked:disabled + span::before,
        .pure-material-checkbox > input:indeterminate:disabled + span::before {
            border-color: transparent;
            background-color: currentColor;
        }
</style>
<script>

    function Dropped(event, ui){
      $(".draggable").each(function(){
        //My Logic goes here

      });

    }

    $(document).ready(function(){
        fillPano();
    });

    function updateBoardStep(stepId, boardId){

        var desc = "";
        if(descRequiredBoardIds.includes(parseInt(boardId)))
        {
            while(desc == "" || desc == null)
            {
                desc = prompt("Lütfen açıklama giriniz", "");

                if(desc != null)
                    desc = desc.trim();
            }
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateBoardStep", "Board")',
            data: {
                "_stepId": stepId,
                "_boardId": boardId,
                "_desc" : desc
            },
            success: function (data) {

                if (data == false) {
                    swal("Panoya Eklenirken bir hata oluştu!");
                }
                else {
                }
            },
            error: function (err) {
            swal("hata!");
            }
        });
    }

    var descRequiredBoardIds = [];

    function fillPano() {
        $('#divMain').html('<div class="row mt-5"></div>');
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllStepForPano", "Board")',
            data: {},
            success: function (data) {
                console.log(data);
                var boardList = getAllBoardByProjectId();

                for (var i = 0; i < boardList.length; i++) {

                    if(boardList[i]["IsDescriptionRequired"] == 1)
                        descRequiredBoardIds.push(boardList[i]["Id"])

                    //boards = '<div id="divOuter' + boardList[i]["Id"] + '" style="overflow-y: scroll;" class="droppable"> ' + boardList[i]["Name"] + ' <i onclick="deletePano(' + boardList[i]["Id"] + ')" style="float:right; margin-left: 5px;" class="actionIcon fa fa-trash"></i> <i onclick="preparePanoUpdateModal(' + boardList[i]["Id"] + ')" style="float:right" class="actionIcon fa fa-edit"></i> </div></br>'

                    boards = `<div class="customBoard col-md-3  id=" customerBoardColor` + [i] + `"">
                                <div class="card" style="background: #486d89; color: white; box-shadow: 0px 0px 4px 1px #46464696; border-radius: 5px; min-height: 60vh; height: 100%;" data-count="8">
                                    <div class="card-header text-center" data-background-color="blue" data-header-animation="true">
                                        <h4 class="my-4">
                                            <b style="color:white;">` + (boardList[i]["Name"]) + `</b>
                                        </h4>
                                    </div>
                                    <div class="card-actions" style="padding-top: 60px;">
                                        <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Kaldır">
                                            <i onclick="deletePano(` + (boardList[i]["Id"]) + `)" class="deleteBtn material-icons">delete</i>
                                        </button>
                                        <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Düzenle">
                                            <i onclick="preparePanoUpdateModal(` + (boardList[i]["Id"]) + `)" class="material-icons">edit</i>
                                        </button>
                                    </div>
                                    <div id="divOuter` + (boardList[i]["Id"]) + `" class="droppable card-content px-0" style="height: 699px; padding-top:40px !important; overflow-y: auto; overflow-x: hidden;">

                                    </div>
                                </div>
                            </div>`;

                    $('#divMain .row').first().append(boards);
                }

                for (var i = 0; i < data.length; i++) {
                    var stepHtml = `<div class="draggable px-3 pt-5" id="divBoardGorevler`+data[i]["StepId"]+`">
                                        <div class="card" style="background: #7b9fb9; color: white; box-shadow: 0px 0px 4px -1px #ffffff63; border-radius: 5px;">
                                            <div style="width: 100%;">
                                                <i onmouseover="showPopup(`+data[i]["StepId"]+`, `+ data[i]["BoardId"] +`, this)" onmouseleave="$('#handMadeToolTip').remove();" style="margin-top: 7px;  font-size: 17px; color: #d2d2d2a3; margin-left: 7px;" class="actionIcon customInfoBox fa fa-info-circle"></i>
                                            </div>
                                            <div style="clear: both;"></div>
                                            <div class="card-header card-header-icon" data-background-color="white" style="background:#19b6c9; padding: 0px; padding-left: 10px; padding-righT: 10px; margin-top: 18px;">
                                                <h4>
                                                    <small style="color: white; font-weight: bold; ">
                                                         ` + data[i]["AssigneeUserName"] + `
                                                    </small>
                                                </h4>
                                            </div>
                                            <div class="card-content">
                                                <h4 class="card-title" style="color:white;">` + data[i]["MilestoneName"] + `</h4>
                                                <p class="text-justify my-4">
                                                    ` + data[i]["Descripton"] + `
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats py-2">
                                                    <span style="display: inline-block;" class="label label-danger my-2 mx-1">Berke ELMASTAŞ</span>
                                                    <span style="display: inline-block;" class="label label-danger my-2 mx-1">Gülcan AYDOĞAN</span>
                                                    <span style="display: inline-block;" class="label label-danger my-2 mx-1">Kaan YILMAZ</span>
                                                    <span style="display: inline-block;" class="label label-danger my-2 mx-1">Arda ÖZCAN</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="width: 90%; margin: 0px; padding: 0px; margin-left: 5%; border: 0.5px solid #c0c0c05c; ">`;

                    $("#divOuter" + data[i]["BoardId"]).append(stepHtml);


                    var calisanKullanicilar = data[i]["AssignedPersonNames"];

                    var html = "";
                    for (var k = 0; k < calisanKullanicilar.length; k++) {
                        var calisanlar = '<span style="display: inline-block; background-color: #049cac; border: 1px solid #ffffff29;" class="label label-danger my-2 mx-1">' + calisanKullanicilar[k] + '</span>';
                        html += calisanlar;
                    }

                    var board = "#divOuter" + data[i]["BoardId"] + " .stats";
                    $(board).last().html(html);
                }

                $(".droppable").sortable({
                    receive: function (event, ui) {
                        Dropped();
                        var stepId = ui.item[0].id.split('divBoardGorevler')[1];
                        var boardId = document.getElementById(ui.item[0].id).parentNode.id.split('divOuter')[1];
                        updateBoardStep(stepId, boardId);
                    },
                    update: function (event, ui) {
////
////
                    },
                    connectWith: '#divMain .droppable'
                });

                var boards = $(".customBoard");
                for(var i = 0; i < boards.length; i++)
                {
                    $(boards[i]).find("hr").last().remove()
                }

                 $('#divMain .row').first().append(`<div class="col-md-3" style="min-height:50vh;">
                            <button onclick="$('#modalPanoEklePanoId').val('0'); $('#modalPanoEklePanoAdi').val(''); $('#isDescRequired').prop('checked', false);" class="btn btn-info btn-round btn-fab" rel="tooltip" data-placement="top" title=""
                                data-original-title="Kolon Ekle" data-toggle="modal" data-target="#panoEkleModal"
                                style="position: absolute; top: 50%; left: 50%;">
                            <i class="material-icons">add</i>
                            </button>
                        </div>`);

                        var list = $(".deleteBtn");
                    for(var i = 0; i < 3; i++)
                    {
                        $(list[i]).remove()
                    }

            },
            error: function (err) {
                swal("hata!");
            }
        });
    }

    function getAllBoardByProjectId() {
        var returnList;
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllBoardByProjectId", "Board")',
            data: {},
            dataType: 'json',
            async: false,
            success: function (data) {
                returnList = data;
            },
            error: function (err) {
                swal("hata!");
            }
        });
        return returnList;
    }


      function savePano()
    {
        var panoAdi = $("#modalPanoEklePanoAdi").val();
        var panoId = $("#modalPanoEklePanoId").val();
        var isDescRequired = $("#isDescRequired").prop("checked");

        if(panoAdi == "")
        {
            swal('Pano adı giriniz...');
            return;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("SavePano", "Board")',
            data: {
                "_panoAdi": panoAdi,
                "_panoId": panoId,
                "_isDescRequired": isDescRequired
            },
            success: function (data) {
                swal("BAŞARILI!");
                $('#modalProjeEkle').hide();

                $("#modalPanoEklePanoAdi").val('');
                $('#modalPanoEklePanoId').val('0');
                location.reload();
            },
            error: function (err) {
            swal("hata!");
            }
        });
    }


  function preparePanoUpdateModal(_panoId){
    $.ajax({
        type: "POST",
        url: '@Url.Action("GetPanoById", "Board")',
        data: {
            "_boardId": _panoId

        },
        success: function (data) {

          $("#modalPanoEklePanoId").val(_panoId);
          $("#modalPanoEklePanoAdi").val(data["Name"]);
          $("#panoEkleModal").modal('show');
          $("#isDescRequired").prop("checked", data["IsDescriptionRequired"] == 1);
        },
        error: function (err) {
          swal("hata!");
        }
    });
}


function deletePano(_panoId)
{
  var answer = confirm("Silmek istediğinize emin misiniz?");

  if (!answer) {
      return;
  }

   $.ajax({
        type: "POST",
        url: '@Url.Action("DeletePano", "Board")',
        data: {
            "_panoId": _panoId

        },
        success: function (data) {

            if (data == false) {
                swal("Pano silinirken bir hata oluştu!");
            }
            else {
                swal("Pano başarıyla silindi!");

                location.reload();
            }
        },
        error: function (err) {
          swal("hata!");
        }
    });
}

function completeSprint()
{
    var answer = confirm("İşlemi tamamlamak istediğinize emin misiniz?");

    if (!answer) {
        return;
    }

    $.ajax({
            type: "POST",
            url: '@Url.Action("FinishSprint", "Board")',
            data: {
            },
            success: function (data) {
                if(data == -1)
                    swal('Sprint üzerinde çalışıldığı için bitirilemez.');
                else
                {
                    swal('İşlem tamamlandı.');
                    window.location.reload();
                }
            }
    });
    $("#customerBoardColor").css({ "background-color": "red" });
}
</script>



